<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">About Us</li>
	</ol>
	<div class="nav-pills-submenu">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation"><a href="#/aboutus/aboutus"
				class="content-submenu-item aboutus-link">About Us</a></li>
			<li role="presentation"><a href="#/aboutus/foundertrustees"
				class="content-submenu-item foundertrustees-link">Founder &amp;
					trustees</a></li>
			<li role="presentation"><a href="#/aboutus/ourgurus"
				class="content-submenu-item ourgurus-link">Guru Parampara</a></li>
			<li role="presentation"><a href="#/aboutus/ourteam"
				class="content-submenu-item ourteam-link">Our Team</a></li>
			<li role="presentation"><a href="#/aboutus/mou"
				class="content-submenu-item mou-link">MOU</a></li>
			<li role="presentation"><a href="#/aboutus/press"
				class="content-submenu-item press-link">Press</a></li>
			<li role="presentation"><a href="#/aboutus/rangavidhi"
				class="content-submenu-item rangavidhi-link">Rangavidhi
					Praveshika</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>