<div class="image-wrapper">
	<img src="webapp/images/homepage/KPS_5833.JPG"></img>
</div>
<div class="container-fluid main-content">
	<div class="aboutus-submenu">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation"><a href="#/aboutus/aboutus"
				class="content-submenu-item aboutus-link">About Us</a></li>
			<li role="presentation"><a href="#/aboutus/foundertrustees"
				class="content-submenu-item foundertrustees-link">Founder &amp;
					trustees</a></li>
			<li role="presentation"><a href="#/aboutus/ourgurus"
				class="content-submenu-item ourgurus-link">Our Gurus</a></li>
			<li role="presentation"><a href="#/aboutus/ourteam"
				class="content-submenu-item ourteam-link">Our Team</a></li>
			<li role="presentation"><a href="#/aboutus/mou"
				class="content-submenu-item mou-link">MOU</a></li>
			<li role="presentation"><a href="#/aboutus/press"
				class="content-submenu-item press-link">Press</a></li>
			<li role="presentation"><a href="#/aboutus/contactus"
				class="content-submenu-item contactus-link">Contact Us</a></li>
		</ul>
	</div>
	<div class="aboutus-content-area">
	</div>
</div>