<div class="container-fluid main-content logo-filler">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Calendar</li>
	</ol>
	<nav aria-label="" class="year-nav">
		<ul class="pager">
			<li class="previous"><a href="#" class="arrow-left"><span aria-hidden="true">&larr;</span>
					Older</a></li>
			<li><span class="calendar-year">{{year}}</span></li>
			<li class="next"><a href="#" class="arrow-right">Newer <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
	<div class="calendar">
	</div>
</div>