<div class="image-wrapper">
	<img src="webapp/images/banner/contactus.jpg"></img>
</div>
<div class="container-fluid main-content content-area">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Contact Us</li>
	</ol>
	<div class="address">
		<div class="h5">Address</div>
		<p>
			&lsquo;Upaasana&rsquo;, #698, 17<sup>th</sup> Cross, 28<sup>th</sup>
			Main, JP Nagar 2<sup>nd</sup> Stage, Mysore- 570008
		</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<form>
					<div class="row controls-row">
						<div class="input-group col-md-6">
							<span class="input-group-addon" id="contactus-name-label">Name</span>
							<input type="text" class="form-control" id="contactus-name"
								aria-describedby="contactus-name-label" required>
						</div>
						<div class="input-group col-md-6">
							<span class="input-group-addon" id="contactus-email-label">Email</span>
							<input type="text" class="form-control" id="contactus-email"
								aria-describedby="contactus-email-label" required>
						</div>
					</div>
					<div class="row controls-row">
						<textarea class="col-md-12 col-xs-12" id="contactus-message"
							name="message" placeholder="Your Message" rows="5"></textarea>
					</div>
					<div class="row controls-row">
						<button id="contact-submit" type="submit"
							class="btn btn-primary pull-right col-md-4 form-control">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="submenu-content-area">
		<div class="h3 text-center">Bharatanatyam Classes</div>
		<div class="address-row row">
			{{#addresses}}
			<div class="col-md-6 col-sm-6 col-xs-12 address">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 address-label">Contact:</div>
					<div class="col-md-9 col-sm-9 col-xs-9 address-value">{{contact}}</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 address-label">Address:</div>
					<div class="col-md-9 col-sm-9 col-xs-9 address-value">{{{address}}}</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 address-map-row">
						<div class="btn btn-primary load-map-button" data-url="{{url}}">Click
							to view on map.</div>
						<div class="col-md-12 col-sm-12 col-xs-12 address-map-frame-div"></div>
					</div>
				</div>
			</div>
			{{/addresses}}
		</div>

	</div>
</div>