<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Contact Us</li>
	</ol>
	<div class="address">
		<div class="h5">Address</div>
		<p>
			&lsquo;Upaasana&rsquo;, #698, 17<sup>th</sup> Cross, 28<sup>th</sup>
			Main, JP Nagar 2<sup>nd</sup> Stage, Mysore- 570008
		</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<form>
					<div class="row controls-row">
						<div class="input-group col-md-6">
							<span class="input-group-addon" id="contactus-name-label">Name</span>
							<input type="text" class="form-control" id="contactus-name"
								aria-describedby="contactus-name-label" required>
						</div>
						<div class="input-group col-md-6">
							<span class="input-group-addon" id="contactus-email-label">Email</span>
							<input type="text" class="form-control" id="contactus-email"
								aria-describedby="contactus-email-label" required>
						</div>
					</div>
					<div class="row controls-row">
						<textarea class="col-md-12 col-xs-12" id="contactus-message"
							name="message" placeholder="Your Message" rows="5"></textarea>
					</div>
					<div class="row controls-row">
						<button id="contact-submit" type="submit"
							class="btn btn-primary pull-right col-md-4 form-control">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="submenu-content-area">
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Mr.Sandesh</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Upaasana,<br />#698, 17<sup>th</sup> Cross,<br />28<sup>th</sup>
						Main,<br />JP Nagar 2<sup>nd</sup> Stage,<br />Mysore- 570008
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7797.723665650717!2d76.6415384!3d12.257628!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE1JzI2LjEiTiA3NsKwMzgnMzkuOSJF!5e0!3m2!1sen!2s!4v1484894797220" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.1259264267983!2d76.6881724148152!3d12.307305591294137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzI2LjMiTiA3NsKwNDEnMjUuMyJF!5e0!3m2!1sen!2s!4v1484894772728" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Prathibha </div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#145,4<sup>th</sup> Cross, Near Ganapathi temple,<br />
						Vidya nagar,Mysuru
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Prathibha</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#4293 ,3<sup>rd</sup> stage ,<br />
						j block Kanakadasa nagar ,Dattagalli ,<br />
						Mysore - 570022
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.5793249243607!2d76.60517241481485!3d12.27672219131447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE2JzM2LjIiTiA3NsKwMzYnMjYuNSJF!5e0!3m2!1sen!2s!4v1484894741162" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3638.845815878334!2d55.787965!3d24.212179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e8ab6e63599188b%3A0x34c61ca74ec040f3!2sNew+Alhelal+Private+School!5e0!3m2!1sen!2s!4v1484894711306" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Akshatha Deepak</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Flat 17, plot 39,<br />
						street 13, New Niadat,<br />
						Al Ain, Abu Dhabi- 86519
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Gunasheela</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#157, 7<sup>th</sup> cross,<br />
						Dr.Rajkumar road, yeraganhalli new extension,<br />
						Mysore-11
					</div>
				</div>
			</div>				
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31185.455035877723!2d76.7011703!3d12.3035354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzMyLjIiTiA3NsKwNDEnMzIuMCJF!5e0!3m2!1sen!2s!4v1484894683082" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>				
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15553.321419036336!2d77.5427007!3d12.9507003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDU2JzUzLjEiTiA3N8KwMzMnMDkuMyJF!5e0!3m2!1sen!2s!4v1484894653168" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Shilpa C</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#16, 1<sup>st</sup> cross, kalidasa layout circle,<br />
						opp. Excelent public school, Srinagar,<br />
						Bengaluru-50
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Shilpa C</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						No 114/3, N K farm,<br />
						Dubhasipalya, Bengaluru - 59<br />
						Land mark- Gnanabhodini school
					</div>
				</div>
			</div>				
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.696431995106!2d77.49303351482155!3d12.927222190885026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDU1JzM4LjAiTiA3N8KwMjknNDIuOCJF!5e0!3m2!1sen!2s!4v1484894618824" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>				
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.576897421676!2d76.89867241481419!3d12.209166691359291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDEyJzMzLjAiTiA3NsKwNTQnMDMuMSJF!5e0!3m2!1sen!2s!4v1484894569780" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Sindhu G</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Near Vidyodaya college,<br />
						Kanaka convent,<br />
						T. Narasipura - 571124,<br />
						Mysore district
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Akshatha Y Adiga</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#363, Nethaji nagar,<br />
						revenue block, Alanahalli post,<br />
						Mysuru - 28
					</div>
				</div>
			</div>				
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.318786975788!2d76.70261691481507!3d12.29430559130272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE3JzM5LjUiTiA3NsKwNDInMTcuMyJF!5e0!3m2!1sen!2s!4v1484894539126" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>				
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.7930767706466!2d76.64328351481468!3d12.262277791323998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE1JzQ0LjIiTiA3NsKwMzgnNDMuNyJF!5e0!3m2!1sen!2s!4v1484894509358" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Harshini Purushotham</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#481/A, Janaki, 11<sup>th</sup> main,<br />
						1<sup>st</sup> stage, E block,<br />
						J P Nagar, Mysuru- 570 031
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Hari Krishna</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Samarpana School, Talakadu,<br />
						T Narasipura taluk, Mysore district
					</div>
				</div>
			</div>				
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.8115545346777!2d77.02833911481402!3d12.193222191369856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDExJzM1LjYiTiA3N8KwMDEnNDkuOSJF!5e0!3m2!1sen!2s!4v1484894471377" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>				
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.4652760378117!2d77.10297801481367!3d12.148694391399431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDA4JzU1LjMiTiA3N8KwMDYnMTguNiJF!5e0!3m2!1sen!2s!4v1484894116967" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Hari krishna</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Geetha Primary school, kollegala,<br />
						Chamaraja nagara District
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anusha Gadaar</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						B009, mittal panorama,<br />
						near jockey quarters,<br />
						Mysuru
					</div>
				</div>
			</div>				
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.2489619981875!2d76.67893731481504!3d12.299013791299599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a687e61d3fe548!2sMittal+Panorama+Apartment!5e0!3m2!1sen!2s!4v1484894080426" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>				
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
		</div>
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.1048984357017!2d76.68370021481512!3d12.308722191293185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzMxLjQiTiA3NsKwNDEnMDkuMiJF!5e0!3m2!1sen!2s!4v1484893924294" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anusha Gadaar</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#42/ A Srinilaya,<br />
						G.B.Palya, Siddhartha nagar,<br />
						Mysuru - 570011
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>		
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anusha Gadaar</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Door no 496,<br />
						giridarshini layout,<br />
						Mysuru - 570028
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.1836409554357!2d76.70892241481513!3d12.303416691296745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzEyLjMiTiA3NsKwNDInNDAuMCJF!5e0!3m2!1sen!2s!4v1484893881372" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>			
		</div>		
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3897.988576533203!2d76.69211691481529!3d12.316555591288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzU5LjYiTiA3NsKwNDEnMzkuNSJF!5e0!3m2!1sen!2s!4v1484893818218" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anusha Gadaar</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Devi krupa, 4<sup>th</sup> cross,<br />
						2nd main, shaktinagar,<br />
						Mysuru
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->
			</div>
		</div>	
		<div class="address-row row">
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3897.9976551550094!2d76.70111691481524!3d12.315944391288403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE4JzU3LjQiTiA3NsKwNDInMTEuOSJF!5e0!3m2!1sen!2s!4v1484893778208" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anusha Gadaar</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						Manasinagar,<br />
						Mysuru
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->

			</div>

		</div>		
		<div class="address-row row">
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Sindhu G</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						#86 EWS, KHB, 2<sub>nd</sub> stage,<br />
						M block, Kuvempunagar,<br />
						Mysuru- 570023
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->

			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.4805858579457!2d76.62156131481491!3d12.283388891309993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDE3JzAwLjIiTiA3NsKwMzcnMjUuNSJF!5e0!3m2!1sen!2s!4v1484893704369" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>"
			</div>
		</div>		
		<div class="address-row row">
			<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3897.9016534874395!2d76.6303392!3d12.322406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7a9adfe03547%3A0x34ab424471fdf13d!2s2567%2F1%2C+Vontikoppal%2C+Mysuru%2C+Karnataka+570002%2C+India!5e0!3m2!1sen!2s!4v1484893613990" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>"
			</div>
			<div class="col-md-6 address">
				<div class="row">
					<div class="col-md-3 address-label">Contact:</div>
					<div class="col-md-9 address-value">Anaga M T</div>
				</div>
				<div class="row">
					<div class="col-md-3 address-label">Address:</div>
					<div class="col-md-9 address-value">
						2568/1, kanasu,<br />
						2<sup>nd</sup> cross, vontikoppal,<br />
						V V Mohalla, Mysuru - 570002
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-md-3 address-label">Contact No:</div>
					<div class="col-md-9 address-value">1234567890</div>
				</div>-->

			</div>
		</div>			
	</div>
</div>