<div class="image-wrapper">
	<img src="webapp/images/banner/festivals.jpg"></img>
</div>
<div class="container-fluid main-content content-area">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Festivals</li>
	</ol>
	<div class="submenu-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="h2 text-center">KSP Festivals</div>
				<div class="row">
					<div class="col-md-4"><a class="festival-card" href="#/festival/nruthyopasana/2016"><img src="webapp/images/festivals/all/1.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kalabhivardhana/2016"><img src="webapp/images/festivals/all/10.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kishora-bharatha/2016"><img src="webapp/images/festivals/all/13.jpg" /></a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="h2 text-center">MOU Festivals</div>
				<div class="row">
					<div class="col-md-4"><a class="festival-card" href="#/festival/samskruthi-Parva/2017"><img src="webapp/images/festivals/all/2.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/geetharnava/2017"><img src="webapp/images/festivals/all/3.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/nada-yana/2016"><img src="webapp/images/festivals/all/4.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/karavali-koushalam/2017"><img src="webapp/images/festivals/all/5.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kavya-samhitha/2017"><img src="webapp/images/festivals/all/6.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/manthana/2017"><img src="webapp/images/festivals/all/7.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/bhaavaikya-bhaarati/2017"><img src="webapp/images/festivals/all/8.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="javascript:void(0);"><img src="webapp/images/festivals/all/9.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/Natyaagama/2017"><img src="webapp/images/festivals/all/11.jpg" /></a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/rangaaraadhana/2017"><img src="webapp/images/festivals/all/12.jpg" /></a></div>					
				</div>
			</div>
		</div>
	</div>
</div>