<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content content-area">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Festivals</li>
	</ol>
	<div class="submenu-content-area">
		<div class="row">
			<div class="col-md-12">
				<div class="h2 text-center">KSP Festivals</div>
				<div class="row">
					<div class="col-md-4"><a class="festival-card" href="#/festival/nruthyopasana/2016">Nruthyopasana</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kalabhivardhana/2016">Kalabhivardhana</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kishora-bharatha/2016">Kishora Bharatha</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="h2 text-center">MOU Festivals</div>
				<div class="row">
					<div class="col-md-4"><a class="festival-card" href="#/festival/samskruthi-Parva/2017">Samskruthi Parva</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/geetharnava/2017">Geetharnava</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/naada-yaana/2016">Naada Yaana</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/karavali-koushalam/2017">Karavali Koushalam</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/kavya-samhitha/2017">Kavya Samhitha</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/manthana/2017">Manthana</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/bhaavaikya-bhaarati/2017">Bhaavaikya bhaarati</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/Natyaagama/2017">Natyaagama</a></div>
					<div class="col-md-4"><a class="festival-card" href="#/festival/rangaaraadhana/2017">Rangaaraadhana</a></div>					
				</div>
			</div>
		</div>
	</div>
</div>