<div class="container-fluid footer-main-content">
	<div class="main-content footer-content">
		<div class="row">
			<div class="col-md-4">
				<h5>Festivals</h5>
				<a class="footer-links" href="#">Nruthyopasana</a><a
					class="footer-links" href="#">Naada yana</a><a class="footer-links"
					href="#">Kalabhivardhana</a><a class="footer-links" href="#">Kishora
					Bharatha</a>
			</div>
			<div class="col-md-4">
				<h5>Links</h5>
				<div>
					<a class="footer-links" href="#">Kalotthunga awardees</a>
				</div>
				<div>
					<a class="footer-links" href="#">Social Initiatives</a>
				</div>
				<div>
					<a class="footer-links" href="#">Get Involved</a>
				</div>
				<div>
					<a class="footer-links" href="#">Gallery</a>
				</div>
			</div>
			<div class="col-md-4">
				<h5>About us</h5>
				<a href="#" class="footer-links">Soul</a><a href="#"
					class="footer-links">Founder &amp; Trustees</a><a href="#"
					class="footer-links">Our Gurus</a><a href="#" class="footer-links">Our
					Team</a> <a href="#" class="footer-links">MOU</a><a href="#"
					class="footer-links">Press</a><a href="#" class="footer-links">Bharathanatyam
					classes</a><a href="#" class="footer-links">Rangavidhi Praveshika</a><a
					href="#" class="footer-links">Contact Us</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid copyright-bar">
	<div class="footer-content"></div>
</div>