<div class="container-fluid footer-main-content">
	<div class="main-content footer-content">
		<div class="row">
			<div class="col-md-4">
				<div class="h5">About us</div>
				<a href="#/aboutus/aboutus" class="footer-links">Soul</a><a
					href="#/aboutus/foundertrustees" class="footer-links">Founder
					&amp; Trustees</a><a href="#/aboutus/ourgurus" class="footer-links">Our
					Gurus</a><a href="#/aboutus/ourteam" class="footer-links">Our Team</a>
				<a href="#/aboutus/mou" class="footer-links">MOU</a><a
					href="#/aboutus/press" class="footer-links">Press</a><a
					href="#/aboutus/rangavidhi" class="footer-links">Rangavidhi
					Praveshika</a>
			</div>
			<div class="col-md-4">
				<div class="h5">Festivals</div>
				<a class="footer-links" href="#/festival/nruthyopasana/2016">Nruthyopasana</a>
				<a class="footer-links" href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a>
				<a class="footer-links" href="#/festival/kishora-bharatha/2016">Kishora
					Bharatha</a> <a class="footer-links"
					href="#/festival/samskruthi-parva/2017">Samskruthi Parva</a> <a
					class="footer-links" href="#/festival/geetharnava/2017">Geetharnava</a>
				<a class="footer-links" href="#/festival/naada-yaana/2016">Naada
					Yaana</a> <a class="footer-links"
					href="#/festival/karavali-koushalam/2017">Karavali Koushalam</a> <a
					class="footer-links" href="#/festival/kavya-samhitha/2017">Kavya
					Samhitha</a> <a class="footer-links" href="#/festival/manthana/2017">Manthana</a>
				<a class="footer-links" href="#/festival/bhaavaikya-bhaarati/2017">Bhaavaikya
					bhaarati</a> <a class="footer-links" href="#/festival/Natyaagama/2017">Natyaagama</a>
					<a class="footer-links" href="#/festival/rangaaraadhana/2017">Rangaaraadhana</a>
			</div>
			<div class="col-md-4">
				<div class="h5">Links</div>
				<a href="#/calander" class="footer-links">Calendar</a> <a
					href="#/kalotthunga-awardees/2016" class="footer-links">Kalotthunga
					awardees</a><a href="#/socialinitiatives/awareness"
					class="footer-links">Social Initiatives</a><a href="#/gallery"
					class="footer-links">Gallery</a> <a
					class="footer-links subscribe-newsletter"
					href="javascript:void(0);">Subscribe for Newsletter</a> <a
					href="#/contactus" class="footer-links">Contact Us</a> <a
					href="#/getinvolved" class="footer-links">Get Involved</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid copyright-bar">
	<div class="main-content footer-content">
		Connect with us: <a
			href="https://www.facebook.com/KalaSandeshaPrathishtana/"
			target="_blank"><img src="webapp/images/logos/fb.png" /></a> <a
			href="https://www.youtube.com/KalaSandeshaPrathishtana"
			target="_blank"><img src="webapp/images/logos/you.png" /></a> <a
			href="https://plus.google.com/+KalaSandeshaPrathishtana"
			target="_blank"><img src="webapp/images/logos/g.png" /></a>
	</div>
</div>
<div class="modal fade subscribe-newsletter-modal" tabindex="-1"
	role="dialog" aria-labelledby="subscribe-newsletter">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="subscribe-newsletter">New message</div>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group">
						<span class="input-group-addon" id="subscribe-email-label">Email</span>
						<input type="email" class="form-control" id="subscribe-email"
							aria-describedby="subscribe-email-label" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button"
					class="btn btn-primary subscribe-button disabled"
					disabled="disabled">Subscribe</button>
			</div>
		</div>
	</div>
</div>