<div class="container-fluid main-content">
	<h3>Get Involved</h3>
	<p>Stepping towards our objectives our trust has decided to raise
		funds through donations. The categories for Donation amounts are
		listed below:</p>

	<table width="603">
		<tbody>
			<tr>
				<td width="302">
					<p>
						<strong>CATEGORIES</strong>
					</p>
				</td>
				<td width="302">
					<p>
						<strong>DONATION AMOUNT</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Chief-Patron</p>
				</td>
				<td width="302">
					<p>Rs.500000/-</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Patron</p>
				</td>
				<td width="302">
					<p>Rs.100000/-</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Donor</p>
				</td>
				<td width="302">
					<p>Rs.50000/-</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Member</p>
				</td>
				<td width="302">
					<p>Rs.25000/-</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Member</p>
				</td>
				<td width="302">
					<p>Rs.10000/-</p>
				</td>
			</tr>
			<tr>
				<td width="302">
					<p>Member</p>
				</td>
				<td width="302">
					<p>Rs.5000/-</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		We request you to donate by choosing either of the above slabs as per
		your convenience, be a part of <em>Kala Sandesha Prathishtana
			Family</em> &amp; act with us for a glorious art revolution.The benefits
		of being a Chief-patron,Patron,Donor and a Member are elaborated
		separately in the attachment.
	</p>
	<p>We would like to thank you for considering this opportunity to
		partner with our organization for raising funds. If you have any
		queries regarding our organization, or the projects, please feel free
		to contact us.</p>
	<p>
		<strong>BENEFITS OF MEMBERSHIP:</strong>
	</p>
	<p>
		<strong>Benefits of being a Chief-Patron:</strong>
	</p>
	<ul>
		<li>Right to attend trust meetings</li>
		<li>Advertisements</li>
		<li>Seating Reservations in programs</li>
		<li>Tax benefit</li>
		<li>Names on invitations of annual function</li>
		<li>Felicitating guests in functions</li>
		<li>Act as trust&rsquo;s part in its social activities</li>
		<li>Invitation for all programs</li>
		<li>Announcing their names in annual functions</li>
	</ul>
	<p>
		<strong>Benefits of being a Patron:</strong>
	</p>
	<ul>
		<li>Tax benefit</li>
		<li>Announcing their names in annual functions</li>
		<li>Volunteer badge</li>
		<li>Invitation for all programs</li>
		<li>Act as trust&rsquo;s part in its social activities</li>
		<li>Advertising</li>
	</ul>
	<p>
		<strong>Benefits of being a Donor:</strong>
	</p>
	<ul>
		<li>Tax benefit</li>
		<li>Act as trust&rsquo;s part in its social activities</li>
		<li>Invitation for all programs</li>
		<li>Banner of their names in annual function</li>
	</ul>
	<p>
		<strong>Benefits of being a Member:</strong>
	</p>
	<ul>
		<li>Tax benefit</li>
		<li>Act as trust&rsquo;s part in its social activities</li>
		<li>Invitation for all programs</li>
		<li>Banner of their names in annual function</li>
	</ul>
</div>