<div class="container-fluid carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{{#carouselIndexes}}
			<li data-target="#myCarousel" class="{{cssClass}}" data-slide-to="{{index}}"></li>
			{{/carouselIndexes}}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			{{#carouselItems}}
			<div class="item {{cssClass}}">
				<img src="webapp/images/homepage/{{carouselImage}}"
					alt={{carouselImage}}>
				<div class="carousel-caption">
					<h3>{{carouselCaption}}</h3>
					<p>{{carouselMessage}}</p>
				</div>
			</div>
			{{/carouselItems}}
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button"
			data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
			aria-hidden="true"></span> <span class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#myCarousel" role="button"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>