<div class="container-fluid slick-container">
	{{#items}}
	<div class="slick-image-container">
		<img class="slick-image" src="{{imageUrl}}" />
		<div class="h3 slick-caption">{{caption}}</div>
		<div class="slick-message">{{message}}</div>
	</div>
	{{/items}}
</div>
<div class="container-fluid main-content">
	<div class="home-content">
		<div class="home-content-introduction">Kala Sandesha
			Prathishtana® is a Non-Profit organisation constituted with an
			intention of 'Creating a better world for artists'. Though the
			Prathishtana was serving the art field from 1997, it took a definite
			shape in the year 2004 with the chief principles of the Prathishtana
			being laid out. The founder Sandesh Bhargav, visualised the
			organisation to be a safe haven for the art and artists which imparts
			a comprehensive values of value to its students. Thus the
			organisation started in a tiny town Tirumakoodalu Narasipura near by
			Mysore district. In and around the vicinity of the smalltown,
			numerous students learnt Bharathantyam aiming in promoting and
			preserving Indian art and culture.</div>
		<hr />
		<div class="home-vision-row row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="vision-heading text-center">VISION</div>
				<div class="vision-text text-center">To create a better world
					for artists</div>
			</div>
		</div>
		<hr />
		<div class="home-testimony-row row">
			{{#testimony}}
			<div class="citation">
				<div class="home-testimony-citation">{{citation}}</div>
				<div class="home-testimony-citation-author">
					<span class="author-name">{{author}}</span>
					<span class="author-description">{{authorDescription}}</span>
				</div>
			</div>
			{{/testimony}}
		</div>
		<hr />
		<div class="home-festival-row row">
			<div class="home-festivals-link text-center">
				<a href="#/festivals" class="">Visit</a> for more info on our art
				festivals
			</div>
		</div>
	</div>
</div>