<div class="container-fluid carousel-container">
	<div id="homeCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{{#carouselIndexes}}
			<li data-target="#homeCarousel" class="{{cssClass}}"
				data-slide-to="{{index}}"></li> {{/carouselIndexes}}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			{{#carouselItems}}
			<div class="item {{cssClass}}">
				<img src="webapp/images/homepage/{{carouselImage}}"
					alt={{carouselImage}}>
				<div class="carousel-caption">
					<h3>{{carouselCaption}}</h3>
					<p>{{carouselMessage}}</p>
				</div>
			</div>
			{{/carouselItems}}
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#homeCarousel" role="button"
			data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
			aria-hidden="true"></span> <span class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#homeCarousel" role="button"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div class="container-fluid main-content">
	<div class="festivals-wrapper">
		{{#festivals}}
		<div class="festival"></div>
		<nav aria-label="Festivals">
			<ul class="pager">
				<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
				<li class="next"><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
		{{/festivals}}
	</div>
</div>