<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Gallery</li>
	</ol>
	<div class="kalotthunga-intro">
		<div class="h3">
			Kalotthunga award
		</div>
		<p>
			Kalabhivardhana, a 3 days&rsquo; festival is the event of conferring
			<strong>&lsquo;Kalotthunga&rsquo;</strong> award for Dance and
			Music streams. As the name self-explicates <strong>
			&lsquo;Kala &amp; Utthunga&rsquo;</strong>, this is an award which is embellished
			on those artists who have served the field of Indian art and have
			been doing this great work, who have contributed and added value to
			the promotion of Indian art. Thus, two awards, <strong>
			&lsquo;Natya Kalotthunga&rsquo;</strong>  for the connoisseurs in the field of
			Indian Classical Dance and <strong>&lsquo;Sangeetha 
			Kalotthunga&rsquo;</strong> for the connoisseurs in the field of Indian
			Classical Music is conferred.
		</p>
		<p>
			The Prathishtana, with the assistance of the Award Committee chooses
			Kalotthunga awardee for the year and devotes a stage performance by
			the awardee for the respective Kalotthunga awards. The award consists
			of <strong>25,000&sol;-</strong> honorarium, a shawl, a sandal garland,
			and a citation. After the recipient is conferred with the <strong>
			&lsquo;Kalotthunga&rsquo;</strong>  title, either the recipient or the
			recipient&rsquo;s student must give a performance on the
			Kalabhivardhana stage as a symbol of manifesting their lifetime
			service related to the field of Art they are associated to.
		</p>
	</div>

	<div class="submenu-years">
		<ul class="nav nav-tabs nav-justified">
			<li data-year="2016"><a href="#/kalotthunga-awardees/2016">2016</a></li>
			<li data-year="2015"><a href="#/kalotthunga-awardees/2015">2015</a></li>
			<li data-year="2014"><a href="#/kalotthunga-awardees/2014">2014</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>