<nav class="navbar navbar-default menu-bar-seperator title-navbar">
	<div class="container-fluid main-content">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".menu-bar-items"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-logo" href="#"><img alt="KSP logo"
				src="webapp/images/logos/logo.png"></a> <a
				class="navbar-brand menu-item brand-name" href="#">Kala Sandesha
				Prathishtana<span
				class="glyphicon glyphicon-registration-mark registered-symbol"></span>
			</a>
		</div>

		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#">e-brochure</a></li>
				<li><a class="menu-item subscribe-newsletter"
					href="javascript:void(0);">Subscribe for Newsletter</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-default menu-bar-seperator secondary-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav outset-nav">
				<li class="dropdown"><a href="#"
					class="dropdown-toggle menu-item" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Festivals
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-submenu"><a tabindex="-1"
							href="javascript:void(0)">KSP Festivals</a>
							<ul class="dropdown-menu">
								<li><a href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
								<li><a href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
							</ul></li>
						<li class="dropdown-submenu"><a tabindex="-1"
							href="javascript:void(0)">MOU Festivals</a>
							<ul class="dropdown-menu">
								<li><a href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
								<li><a href="#/festival/kishora-bharatha/2016">Kishora
										Bharatha</a></li>
							</ul></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga
						awardees</a></li>
				<li><a class="menu-item" href="#/getinvolved">Get involved</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
				<li><a class="menu-item" href="#/socialinitiatives/awareness">Social initiatives</a></li>
				<li><a class="menu-item" href="#/aboutus/aboutus">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar-default menu-bar-seperator mobile-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#"
					class="dropdown-toggle menu-item" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Festivals
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="dropdown-submenu"><a class="collapsed-festival-links" tabindex="-1"
							href="javascript:void(0)">KSP Festivals</a>
							<ul class="dropdown-menu">
								<li><a class="collapsed-festival-sublinks" href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
								<li><a class="collapsed-festival-sublinks" href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
							</ul></li>
						<li class="dropdown-submenu"><a class="collapsed-festival-links" tabindex="-1"
							href="javascript:void(0)">MOU Festivals</a>
							<ul class="dropdown-menu">
								<li><a class="collapsed-festival-sublinks" href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
								<li><a class="collapsed-festival-sublinks" href="#/festival/kishora-bharatha/2016">Kishora
										Bharatha</a></li>
							</ul></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga
						awardees</a></li>
				<li><a class="menu-item" href="#/getinvolved">Get involved</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
				<li><a class="menu-item" href="#/socialinitiatives/awareness">Social
						initiatives</a></li>
				<li><a class="menu-item" href="#/aboutus/aboutus">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="modal fade subscribe-newsletter-modal" tabindex="-1"
	role="dialog" aria-labelledby="subscribe-newsletter">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="subscribe-newsletter">New message</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group">
						<span class="input-group-addon" id="subscribe-email-label">Email</span>
						<input type="email" class="form-control" id="subscribe-email"
							aria-describedby="subscribe-email-label" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button"
					class="btn btn-primary subscribe-button disabled"
					disabled="disabled">Subscribe</button>
			</div>
		</div>
	</div>
</div>