<nav class="navbar navbar-default menu-bar-seperator title-navbar">
	<div class="container-fluid main-content">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".menu-bar-items"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-logo" href="#"><img alt="KSP logo"
				src="webapp/images/logos/logo.png"></a> <a
				class="navbar-brand menu-item brand-name" href="#">Kala Sandesha
				Prathishtana<span
				class="glyphicon glyphicon-registration-mark registered-symbol"></span>
			</a>
		</div>

		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#/calendar">Calendar</a></li>
				<li><a class="menu-item" href="#/contactus">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-default menu-bar-seperator secondary-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav outset-nav">
				<li><a class="menu-item" href="#/aboutus/aboutus">About Us</a></li>
				<li class="dropdown"><a href="javascript:void(0)"
					class="dropdown-toggle menu-item" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Festivals
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-submenu"><a tabindex="-1"
							href="javascript:void(0)">KSP Festivals</a>
							<ul class="dropdown-menu">
								<li><a href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
								<li><a href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
								<li><a href="#/festival/kishora-bharatha/2016">Kishora
										Bharatha</a></li>
							</ul></li>
						<li class="dropdown-submenu"><a tabindex="-1"
							href="javascript:void(0)">MOU Festivals</a>
							<ul class="dropdown-menu">
								<li><a href="#/festival/samskruthi-Parva/2017">Samskruthi
										Parva</a></li>
								<li><a href="#/festival/geetharnava/2017">Geetharnava</a></li>
								<li><a href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
								<li><a href="#/festival/karavali-koushalam/2017">Karavali
										Koushalam</a></li>
								<li><a href="#/festival/kavya-samhitha/2017">Kavya
										Samhitha</a></li>
								<li><a href="#/festival/manthana/2017">Manthana</a></li>
								<li><a href="#/festival/bhaavaikya-bhaarati/2017">Bhaavaikya
										bhaarati</a></li>
								<li><a href="#/festival/Natyaagama/2017">Natyaagama</a></li>
							</ul></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga
						awardees</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
				<li><a class="menu-item" href="#/socialinitiatives/awareness">Social
						initiatives</a></li>
				<li><a class="menu-item" href="#/getinvolved">Get involved</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar-default menu-bar-seperator mobile-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav">
				<li><a class="menu-item" href="#/aboutus/aboutus">About Us</a></li>
				<li class="dropdown"><a href="javascript:void(0)"
					class="dropdown-toggle menu-item" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Festivals
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="dropdown-submenu"><a
							class="collapsed-festival-links" tabindex="-1"
							href="javascript:void(0)">KSP Festivals</a>
							<ul class="dropdown-menu">
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/kishora-bharatha/2016">Kishora Bharatha</a></li>
							</ul></li>
						<li class="dropdown-submenu"><a
							class="collapsed-festival-links" tabindex="-1"
							href="javascript:void(0)">MOU Festivals</a>
							<ul class="dropdown-menu">
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/samskruthi-Parva/2017">Samskruthi Parva</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/geetharnava/2017">Geetharnava</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/karavali-koushalam/2017">Karavali
										Koushalam</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/kavya-samhitha/2017">Kavya Samhitha</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/manthana/2017">Manthana</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/bhaavaikya-bhaarati/2017">Bhaavaikya
										bhaarati</a></li>
								<li><a class="collapsed-festival-sublinks"
									href="#/festival/Natyaagama/2017">Natyaagama</a></li>
							</ul></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga
						awardees</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
				<li><a class="menu-item" href="#/socialinitiatives/awareness">Social
						initiatives</a></li>
				<li><a class="menu-item" href="#/getinvolved">Get involved</a></li>
			</ul>
		</div>
	</div>
</nav>