<nav class="navbar navbar-default menu-bar-seperator title-navbar">
	<div class="container-fluid main-content">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".menu-bar-items"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-logo" href="#"><img alt="KSP logo"
				src="webapp/images/logo.jpeg"></a> <a
				class="navbar-brand menu-item" href="#">Kala Sandesha
				Prathishtana</a>
		</div>

		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#">e-brochure</a></li>
				<li><a class="menu-item" href="#">Subscribe for Newsletter</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->

</nav>
<nav class="navbar navbar-default menu-bar-seperator secondary-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav outset-nav">
				<!-- 				<li><a class="menu-item" href="#"><span -->
				<!-- 						class="glyphicon glyphicon-home"></span></a></li> -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Festivals <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
						<li><a href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
						<li><a href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
						<li><a href="#/festival/kishora-bharatha/2016">Kishora Bharatha</a></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga awardees</a></li>
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#">Get involved</a></li>
				<li><a class="menu-item" href="#">Social initiatives</a></li>
				<li><a class="menu-item" href="#/aboutus/aboutus" >About Us</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<nav class="navbar-default menu-bar-seperator mobile-navbar">
	<div class="container-fluid main-content">
		<div class="collapse navbar-collapse menu-bar-items">
			<ul class="nav navbar-nav">
				<!-- 				<li><a class="menu-item" href="#"><span -->
				<!-- 						class="glyphicon glyphicon-home"></span></a></li> -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Festivals <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/festival/nruthyopasana/2016">Nruthyopasana</a></li>
						<li><a href="#/festival/naada-yaana/2016">Naada Yaana</a></li>
						<li><a href="#/festival/kalabhivardhana/2015">Kalabhivardhana</a></li>
						<li><a href="#/festival/kishora-bharatha/2016">Kishora Bharatha</a></li>
					</ul></li>
				<li><a class="menu-item" href="#/kalotthunga-awardees/2016">Kalotthunga awardees</a></li>
				<li><a class="menu-item" href="#/gallery">Gallery</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="menu-item" href="#">Get involved</a></li>
				<li><a class="menu-item" href="#">Social initiatives</a></li>
				<li><a class="menu-item" href="#/aboutus/aboutus" >About Us</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>