<div class="image-wrapper">
	<img src="webapp/images/homepage/1.JPG"></img>
</div>
<div class="container-fluid main-content">
	<div class="nav-pills-submenu">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation"><a href="#/socialinitiatives/awareness"
				class="content-submenu-item awareness-link">Awarness</a></li>
			<li role="presentation"><a href="#/socialinitiatives/women-empowerment"
				class="content-submenu-item women-empowerment-link">Women Empowerment</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>