.gurus-tab {
	padding-top: 20px;
	padding-bottom: 20px;
}

.controls-row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.controls-row .input-group {
	float: left;
	padding: 2px;
}

@media ( max-width : 768px) {
	.controls-row .input-group {
		float: none;
	}
}

.address-map {
	border: 0;
	height: 300px;
	width: 100%
}

.address-row:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.address-label {
	text-align: right;
	font-weight: bold;
}

.address {
	padding: 20px;
}

.team-member {
	padding: 10px;
}

.team-member-name {
	font-weight: bold;
}

.team-member:nth-child(odd) .team-member-photo {
	float: right;
    margin: 15px;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.team-member:nth-child(odd) {
	background-color: #f9f9f9;
}

.team-member:nth-child(even) .team-member-photo {
	float: left;
    margin: 15px;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}