.logo-filler {
	margin-top: 100px;
}

.image-wrapper {
	height: 500px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.get-involved-placeholder {
	width: 100%;
	text-align: center;
	margin-bottom: 75px;
	font-weight: bold;
}

.nav-pills-submenu {
	margin-top: 10px;
	border-bottom: 2px solid #ffa781;
}

@font-face {
	font-family: myriadpro;
	src: url(../../third-party/fonts/myriadpro-regular.woff);
}

* {
	font-family: myriadpro;
	text-align: justify;
}

body {
	background-color: #f6f6f6;
}

.main-content {
	width: 1280px;
}

.submenu-years {
	padding-top: 20px;
}

.submenu-content-area {
	padding-top: 20px;
	padding-bottom: 20px;
}

.image-wrapper>img {
	width: 100%;
}

.content-submenu-item.active {
	font-weight: bold;
}

@media ( min-width : 1081px) {
	.main-content {
		width: 1080px;
	}
}

@media ( max-width : 1080px) {
	.main-content {
		width: 100%;
	}
}