.registered-symbol {
	top: -10px;
	font-size: small;
}

.logo-filler {
	margin-top: 30px;
}

.nav-pills-submenu {
	margin-top: 10px;
	border-bottom: 2px solid #ffa781;
}

@font-face {
	font-family: FontAwesome;
	src: url(../../third-party/fonts/FontAwesome.otf);
}

* {
	font-family: FontAwesome;
}

.main-content {
	width: 1024px;
}

.submenu-years {
	padding-top: 20px;
}

.submenu-content-area {
	padding-top: 20px;
	padding-bottom: 20px;
}

.image-wrapper>img {
	width: 100%;
	height: 400px;
}

.content-submenu-item.active {
	font-weight: bold;
}

@media ( min-width : 1025px) {
	.main-content {
		width: 1000px;
	}
}

@media ( max-width : 1024px) {
	.main-content {
		width: 100%;
	}
}