.footer-links, .footer-links:hover, .footer-links:visited, .footer-links:active,
	.footer-links:focus {
	display: block;
	color: rgba(206, 221, 232, 0.61);
}

.footer-links:hover {
	color: #bec7c6;
}

@media ( max-width : 991px) {
	.footer-links, .footer-links:hover, .footer-links:visited, .footer-links:active,
		.footer-links:focus {
		display: inline;
	}
	.footer-links::after {
		content: " | ";
	}
	.footer-links:last-child::after {
		content: "";
	}
}

a.footer-links {
	text-decoration: none;
}

.footer-main-content {
	background-color: #4690e7;
	padding-bottom: 10px;
}

.footer-content {
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
}

.copyright-bar {
	height: 60px;
	padding-top: 10px;
	background-color: #2766b5;
}

.subscribe-newsletter-section {
	padding-top: 10px;
}

.subscribe-newsletter, .subscribe-newsletter:hover,
	.subscribe-newsletter:visited, .subscribe-newsletter:active,
	.subscribe-newsletter:focus {
	text-align: right;
	text-decoration: none;
	color: #ffffff;
}