.footer-content h5 {
	font-size: 18px;
}

.footer-links {
	display: block;
}
	
@media ( max-width : 991px) {
	.footer-links {
		display: inline;
	}

	.footer-links::after {
		content: " | ";
	}
	.footer-links:last-child::after {
		content: "";
	}
}

a.footer-links {
	text-decoration: none;
}

.footer-main-content {
	border-top: 2px solid #29211F;
	background-color: #ddd;
	padding-bottom: 10px;
}

.footer-content {
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	font-size: 16px;
}

.copyright-bar {
	height: 60px;
	border-top: 3px solid #ffa781;
	padding-top: 10px;
	background-color: #4690e6;
}