@CHARSET "UTF-8";

.festivals-wrapper {
	height: 400px;
}

.slick-container {
	padding: 0px;
}

.slick-prev {
	left: 5%;
	z-index: 1050;
}

.slick-next {
	right: 5%;
	z-index: 1050;
}

.slick-image {
	width: 100%;
}

.slick-caption, .slick-message {
	z-index: 1050;
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
}

.slick-message {
	font-size: 18px;
	bottom: 4%;
}

.slick-caption {
	font-size: 24px;
	font-weight: bold;
	bottom: 8%;
}