@CHARSET "UTF-8";

.vision-heading {
	color: #2766b5;
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
}

.vision-text {
	font-size: 24px;
}

.citation {
    padding: 10px 40px;
}

.home-testimony-citation:before, .home-testimony-citation:after {
    content: "\"";
}

.vision-text:after, .vision-text:before {
	content: "'";
}

.home-festivals-link {
	margin-bottom: 20px;
}

.home-testimony-citation {
	font-style: italic;
	font-size: 18px;
	padding-bottom: 5px;
}

.author-name {
	font-size: 16px;
}

.author-name:after {
    content: ",";
}

.author-name:before {
    content: "- ";
}

.slick-container {
	padding: 0px;
}

.slick-container .slick-prev {
	left: 5%;
	z-index: 1050;
}

.slick-container .slick-next {
	right: 5%;
	z-index: 1050;
}

.slick-image {
	width: 100%;
}

.slick-caption, .slick-message {
	z-index: 1050;
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
}

.slick-message {
	font-size: 18px;
	bottom: 4%;
}

.slick-caption {
	font-size: 24px;
	font-weight: bold;
	bottom: 8%;
}