.navbar {
	position: relative;
	margin-bottom: 0px;
	border: 0px none transparent;
	border-radius: 0px;
}

.outset-nav {
	left: -30px;
    position: relative;
}

.title-navbar {
	background-color: #4690e6;
}

.secondary-navbar {
	background-color: #2766b5;
}

.brand-logo {
	position: absolute;
	left: 50%;
	margin-left: -50px !important;
	display: block;
	z-index: 10;
}

.brand-logo>img {
	width: 100px;
	height: 100px;
}

.menu-bar-seperator {
	border-bottom-color: #ffa781;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.menu-item {
	color: #ffffff !important;
}

.mobile-navbar {
	display: none;
}

.navbar-collapse {
    border-top: 0px none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media ( max-width : 850px) {
	.brand-logo {
		display: none;
	}
}

@media (max-width : 768px) {
	.secondary-navbar {
		display: none;
	}
	
	.mobile-navbar {
		display: block;
		background-color: #2766b5;
	}
	
	.navbar-toggle {
		background-color: #ddd;
		border-color: #ddd;
	}
}