<p>
	<strong>Kala Sandesha Prathishtana</strong> has been conducting workshops and 
	summercamps for children since to bring 
	the awareness about the Indian classical art forms.
</p>
<p>
	A subject, various perspectives involving discussions and debating 
	over the methods of learning and its pros and cons, which also encircles
	the tools that aid in better understanding and interpretation of that subject 
	is all that comes under the term, Workshop. It remains effective in improving 
	one&rsquo;s skills by providing practical exposure and also serves as a center 
	for exchange of thoughts and opinions. Tala and Laya are the two vital components 
	of Bharathanatyam. To build a strong platform of these two upon which can dance 
	flaunt, Kala Sandesha Prathishtana&reg; organized several workshops.
</p>
<p>
	The very thought of summer for kids, is Fun. During those days off from school, 
	they mostly involve themselves in the activities that please their passion. 
	In present situation, children are well in competition with the adults in 
	trying out new things. Only after they&rsquo;re grown will they be able to 
	justify their efforts. Thus, to trigger those creative corners of the young minds, 
	Kala Sandesha Prathishtana&reg; came up with Summer Camps, from 10 years now. 
	This was ever since a righteous attempt to provide the students of the institution 
	with knowledge, by allowing the faculty members and at times other scholars to teach them.
</p>
<h3>Workshop - 2016</h3>
<div class="row team-member">
	<div class="col-md-12">
		<h4>
			<span class="team-member-name">Laya and Jathi Workshop (<strong>14<sup>th</sup>,15<sup>th</sup> of 
			                 February 2016 and 11<sup>th</sup><strong>,12<sup>th</sup> of March 2016</strong>)</strong>
			</span>
		</h4>
		<div class="team-member-details">
		<p>
			In the year 2016, two of such workshops named &lsquo;Laya and Jathis&rsquo; were undertaken. 
			One of which was scheduled on <strong>14<sup>th</sup> </strong>and<strong> 15<sup>th</sup> 
			of February 2016</strong> by Vid. Sri K Sandesh Bhargav, Founder of KSP, in J.P.Nagar, 
			<strong>Mysuru</strong>. About 30 students participated in this workshop. Most of them 
			were of very young age with high grasping ability. The second workshop of this kind was 
			driven by senior faculty members of the institution in <strong>11<sup>th</sup> </strong>
			and<strong> 12<sup>th</sup> of March 2016</strong> involving 200 students.
		</p>
		<p>
			The workshops began with a lecture on <strong>&lsquo;How tala and laya hold importance in dance&rsquo;</strong>. 
			Soon after, the basic techniques that help in better practice of Tala and Laya were taught. The session was 
			further set into motion by adopting different Jathis like Trishra, Chathurashra, Khanda, Mishra and Sankeerna 
			and, inserting the former learnt techniques in them in different speeds, was for the first day. 
			The second day started by practicing the Day 1&rsquo;s learning and dealt more with the usage 
			of same fashion/process in the Alankaras of Karnataka Classical Music. The young artists enthusiastically 
			took part in both the workshop marking its success.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<h3>Workshop - 2015</h3>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/social/workshop.jpg" />
		<h4>
			<span class="team-member-name">Laya and Jathi Workshop (<strong>14<sup>th</sup>,15<sup>th</sup> 
			February 2015 and 21<sup>st</sup>,22<sup>nd</sup> March 2015)</strong>
			</span>
		</h4>
		<div class="team-member-details">
		<p>
			Tala and Laya are the two vital components of Bharathanatyam. To build a strong platform of these two 
			upon which can dance flaunt, Kala Sandesha Prathishtana&reg; organized several workshops.
		</p>
		<p>
			In the year 2015, two of such workshops named &lsquo;Laya and Jathis&rsquo; were undertaken. 
			One of which was scheduled on 14th and 15th of February 2015 by Vidushi Harshini Purushotham, 
			a senior faculty of KSP, in J P Nagar, <strong>Mysuru</strong>. About <strong>30</strong> students 
			participated in this workshop. Most of them were of very young age with high grasping ability. 
			The second workshop of this kind was driven by another senior faculty member, Vidushi Akshatha Y. Adiga in 
			<strong>T. Narasipura</strong> in 21st and 22nd of March 2015 involving <strong>50</strong> students.
		</p>
		<p>
			The workshops began with a lecture on &lsquo;how tala and laya hold importance in dance&rsquo;. 
			Soon after, the basic techniques that help in better practice of tala and laya were taught. 
			The session was further set into motion by adopting different Jathis like Trishra, Chathurashra, 
			Khanda, Mishra and Sankeerna and, inserting the former learnt techniques in them in different 
			speeds, was for the first day. The second day started by practicing the Day 1&rsquo;s learning 
			and dealt more with the usage of same fashion/process in the Alankaras of Karnataka Classical Music. 
			The young artists enthusiastically took part in both the workshop marking its success.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>	
<h3><strong>Summer camps - 2014</strong></h3>	
	<p>
		Three Summer Camps happened to be a part of 2014 which were conducted in Mysuru, T. Narasipura 
		and Talakadu respectively on the same time. The faculty of KSP took charge of tutoring the participants.
	</p>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/social/camp-2015.png" />
		<h4>
			<span class="team-member-name">Alanahalli Camp (15<sup>th</sup> 
			of April to 15<sup>th</sup> of May, 2014)
			</span>
		</h4>
		<div class="team-member-details">
		<p>
			Mysuru Camp was scheduled from 15<sup>th</sup> of April to 15<sup>th</sup> of May, 2014 wherein 
			30-40 candidates actively participated under the guidance of Vidushi Kum. Anusha G.M., a senior 
			faculty member. About 20 students turned up from various neighboring cities, resided for a month 
			to engage themselves in the Camp. Dr. Savitha, a popular physician inaugurated the Summer Camp 
			which successfully made its progression for a month. Dr. Subbe Gowda, a famous Psychiatrist in 
			the city motivated the students on, &lsquo;<em>how health and knowledge play their duo in the 
			all-round development of an individual&rsquo; </em>on the valedictory day. The camp aided in elevating 
			the knowledge successfully till the final day.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/social/summer_camp-2014.png" />
		<h4>
			<span class="team-member-name">T.Narasipura Camp (started 15<sup>th</sup> of April, 2014)
			</span>
		</h4>
		<div class="team-member-details">	
		<p> 
			Summer camp in T Narasipura, a rural area neighboring Mysuru also started from the 15<sup>th</sup> of April, 2014 
			and went on for a month&rsquo;s time. Another senior faculty Vidushi Smt Sindhu Niranjan drove this camp of 
			nearly 50 students, on a whole. Dr. Poornima, a renowned physician inaugurated this camp on the first day. 
			Students were provided with the basic training on the initial days. Moving forward, they were equipped with 
			a bunch of short duration dance bits which were performed by them as a part of the finale. &lsquo;Rural 
			talents are no less in competition with the contemporary world&rsquo; was the outcome drawn from this 
			Summer Camp. Kala Sandesha Prathishtana&reg; hence looks forward to creating more of such opportunities 
			to nurture rural young talents.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/social/Talakadu_summer_camp.jpg" />
		<h4>
			<span class="team-member-name">Talakadu Camp (15<sup>th</sup> April to 15<sup>th</sup> May)
			</span>
		</h4>
		<div class="team-member-details">		
		<p>
			The third and the last camp of 2014 was held in Talakadu for one month from 15<sup>th</sup> April to 15<sup>th</sup> May. 
			Sri T Purushotham, a retired Syndicate Bank Manager inaugurated and shared his optimistic thoughts and opinions about the 
			Summer Camp. The students enthusiastically engaged in learning, practicing and performing, marking the successful end to it.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>				
