<div class="row team-member">
	<div class="col-md-12">
		<div class="h3">
			<span class="team-member-name">Women empowerment</span>
		</div>
		<div class="team-member-details">
		<p>
			Empowerment of women in our present society, has become a significant topic of 
			discussion in regards to development and economics. It can also point to 
			approaches regarding other trivialized genders in particular social contexts. 
			Kala Sandesha Prathishtana strongly believes that empowerment of women can be 
			aboon for the narional development and has served as mode for achieving it by 
			providing opportunities to women both in terms of employment giving financial 
			stability and education providing social status. Thus most of the employed in 
			Kala Sandesha Prathishtana are women.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>	

<div class="row team-member">
	<div class="col-md-12">
		
		<div class="h3">
			<span class="team-member-name">Employment</span>
		</div>
		<div class="team-member-details">		
		<p>
			Kala Sandesha Prathishtana is been formulated to create a better world for the artists. 
			The organization is paving way towards this accomplishment by providing employment 
			opportunities to all the completely trained students of Kala Sandesha Prathishtana 
			who are especially from the rural background. These professionally trained people 
			are conducting classes at various branches of Kala Sandesha Prathishtana and thereby 
			are offered jobs for their livelihood.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<div class="row team-member">
	<div class="col-md-12">
		
		<div class="h3">
			<span class="team-member-name">Youth empowerment</span>
		</div>
		<div class="team-member-details">			
		<p>
			Kala Sandesha Prathishtana also aims at youth empowerment and thereby improve quality of life. 
			Kala Sandesha Prathishtana in this context focuses on processes that enable participation; 
			enhance control through shared decision making; and create opportunities to learn, practice, 
			and increase skills. It is also engaging youth in pro-social, meaningful and community enhancing 
			activities that the youth themselves define and control, helps youth gain vital skills, 
			responsibilities, and confidence necessary to become productive and healthy adults.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<div class="row team-member">
	<div class="col-md-12">
		
		<div class="h3">
			<span class="team-member-name">Cultural empowerment in rural areas</span>
		</div>
		<div class="team-member-details">	
		<p>
			Being a rural based organization, Kala Sandesha Prathishtana is working very hard .
			for the appreciation of art in rural areas and the domain of rural development in 
			order to strengthen India and Indian culture from its roots. As an outcome of this 
			Kala Sandesha Prathishtana introduced, undertaken and managed many welfare, religious, 
			educational, social and cultural activities for the benefit of the public at large in 
			rural areas. Kishora Bharatha is one such example for this good deed. Most of the 
			branches of Kala Sandesha Prathishtana are also in rural India to help for the cause.
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>			