<div class="row">
	<div class="col-md-6">
		
		<div class="h3">Natya Kalotthunga Vidwan</div>
		<div class="h4">Sri K. Muralidhara Rao</div>
		
		<p>
			<strong> Revered Bharathanaatyam Virtuoso & Guru</strong>
		</p>
		<img class="awardee-photo" src="webapp/images/awardees/k_murlidhar.png" />
		<article class="slide">
			<p>
				Vidwan Sri K. Muralidhara Rao is a passionate Bharathanatyam artiste
				who has strived for the creative and traditional art of India,
				Bharathanatyam. He is a well-known Guru, enthusiastic and innovative
				choreographer, an author, above all- the rooter of light for the
				popular <strong>&lsquo;Pandanalluru style&rsquo;</strong> of
				Bharathanatyam.
			</p>
			<p>
				Born in the tender soil of Kasargod of Dakshina Kannada district, in
				an artiste family, his father was also a <strong>Yakshagana</strong>
				artiste along with being a school teacher, which has grooved an
				essence of purity and love for art in him since childhood. The
				hardship in life impelled him to look for a job for which he moved to
				Mangalore. He extended his area of aspirations even to the varsity in
				music, typing, drawing, painting, photography and steady of literary
				works too.
			</p>

			<p>
				During his stay in Mumbai, he closely acquainted with the great
				Kathakali scholar, <strong>Rajam Iyer</strong>. He was the first Guru
				of Muralidhar Rao. Guru Rajaram Iyer moved to Mangalore respecting
				Muralidhar Rao&apos;s invite and this Guru-shishya duo later founded
				an art school named <strong><q>Lalitha Kala Kendra</q></strong>. In
				order to gain expertise over dance, he approached Naatya Kalaanidhi <strong>Sri
					Chokkalingam, a Pandanallur style maestro</strong>. Later, he continued his
				learning from <strong>Rajarathnam</strong>, one of the disciples of <strong>Chokkalingam</strong>.
				Muralidhar&lsquo;s utter dedication and determination helped him to
				learn dance in a short period.
			</p>

			<p>Muralidhar Rao did not want Bharathanaatyam to be found only in
				the books. He wanted to initiate it to common people through
				performances. He did lots of research on this subject and brought
				about a change in the practice of Bharathanaatyam that the
				contemporary world would connect to and accepts. He wanted to make
				dance presentable to the common audience in the current scenario.
				These thoughts of his were seen in his style of Bharathyanaatyam.</p>
			<p>
				He was a multi-talented personality. His drawings could be seen in <strong>Gnanagangothri(encyclopedia
					for children) and Kannada encyclopedia</strong>. Unique postures of dance
				have also been photographed by him. He has studied the different
				works on dance in Kannada and English languages. He wrote in
				newspapers like <strong>&lsquo;Navabharatha&rsquo;</strong> and <strong>&lsquo;Kaaravan&rsquo;</strong>
				in both the languages. He also played a very important role in
				designing the text books under the subtitle of dance which were
				published by the government of Karnataka. He says, <strong><q>Possession
						of knowledge is, in a nutshell. Yet to learn resembles an a vast
						ocean</q></strong>. The dances which were choreographed by him have been
				recognised by Swami Chinmayaananda, Baalasaraswathi, Gangubhai
				Hanagal, Chandrabhaagadevi, U.S.Ananthamurthy and others. The famous
				dances which were choreographed by him are <strong>Purandaradasa&lsquo;s
					life history, Navarasa Ramayana, Dashaavathaara, Sri Krishna
					Charitha</strong> etc.
			</p>
			<p>
				He did not get himself in the ties of marriage or money. Neither did
				he invest his efforts for fame. This dedicated maestro remained in
				the service of dance, whole of his life. His students are present all
				over the world. He worked for dance in European countries that
				include France, Switzerland and Germany and constructed a chain of
				Guru-Shishya tradition. Even today, many students from France and
				Spain approach him to learn dance. He was very fastidious when it
				came to his students. He did not rest until he turned a stone to a
				sculpture. The artists came under his training now stand as
				reflections of his quality of teaching who are, <strong>Dr.Vasundhara
					Doreswamy, Vani Ramesh, Nandinirangan, Krupa Phadke, Sharadamani
					Shekar, Dr. Shrividhya Muraleedhar and Vidhyashree</strong>.
			</p>
			<p>
				The famous critic, <strong>G.T.Narayana Rao</strong> says,<strong><q>
						He is like mercury, which neither stops, nor settles down, but
						spreads wide across capturing a vast area</q></strong>. He has also composed a
				play which narrates the life of an artist, <strong><q>Prathibha</q></strong>,
				and a social drama, <strong><q>Her debt</strong></q>. His works were
				recognised in the year <strong>1998</strong>, when <strong><q>Nruthya
						loka</strong></q> was published. Innumerable awards followed Muralidhara Rao,
				few among which are <strong>Karnataka Sangeetha Nruthya
					Academy Award 1989-90</strong>, <strong>Karnataka Kalathilaka title,
					Nruthya Kala Tilaka-1990</strong> by Sangeetha Nruthya Academy, <strong>Shanthala
					Award, Nruthya Sundara</strong> from Vasundhara Performing Arts Centre.
				Hereby, Vidwan Muralidhar Rao as an artist, Guru, choreographer,
				writer and photographer, is been working intensely for art.
			</p>
		</article>
		<iframe width="100%" height="300px"
			src="https://www.youtube.com/embed/LSkl9GCy5bU" frameborder="0"
			allowfullscreen></iframe>

	</div>
	<div class="col-md-6">
		
		<div class="h3">Sangeetha Kalotthunga Vidwan</div>
		<div class="h4">Sri T.A.S. Mani</div>
		<p>
			<strong>Mridangam Virtuoso & Guru</strong>
			<p><a href="http://karnatakacollegeofpercussion.com/tas/mani01.php">karnatakacollegeofpercussion.com</a></p>
		</p>
		<img class="awardee-photo" src="webapp/images/awardees/TAS_Mani.jpg" />
		<article class="slide">
			<p>
				Vid Sri T.A.S. Mani is a gifted <strong>Mridangam maestro</strong>.
				His achievements as a performer and as a teacher is well known in
				India and as well as abroad. Mani is the founder <strong>principal
					of the Karnataka College of Percussion</strong> which has been actively
				involved in the teaching of the Karnatic music for over 5 decades.
			</p>
			<p>
				Born in the family of intellectuals, Mani has learnt Mridangam from
				his guru <strong>Palghat Sri C.K. Ayyamani Iyer</strong>. T.A.S.Mani
				started his career at a tender age of 10. He has been performing for
				over 5 decades across the country and abroad. Rated as an <q>A-Top</q>
				artist by the All India Radio he has given many performances in AIR
				and Doordarshan including National Program of Music, Sangeet
				Sammelan, Outside Broadcast concerts etc., apart from this, he has
				also performed in various private TV channels. As a performer of
				South Indian Percussion instrument- Mridangam, he has accompanied a
				wide galaxy of leading vocal and instrumental musicians like <strong>Chembai
					Vaidyanatha Bagavathar, Dr Semmangudi Srinivasa Iyer, Dr M.S.
					Subbalakshmi, D.K. Pattamal, M.L. Vasanthakumari, Dr M.
					Balamuralikrishna, T. Chowdiah, Dr V. Doraiswamy Iyengar, Lalagudi
					G. Jayaraman, Maharajapuram Santhanam, K.J. Jesudas, M.S.
					Gopalakrishnan</strong> etc. He has performed for over 25 years consistently
				in the prestigious <strong>Madras Music Academy</strong> and, during
				the year <strong>1970</strong> he was awarded the <strong><q>Henry
						Wilson Award</q></strong> for the best accompanist.
			</p>
			<p>
				Along with this, Mani started <strong>&lsquo;Tala
					Tarangini&rsquo;</strong>, a new concept of creating a 90 minute concert
				during <strong>1975</strong>, and he thus has the distinction of
				being the first in India to do so. Mani has spread this unique art
				form in countries such as Canada, U.S.A., Germany, Holland, Hong
				Kong, Russia, England, Australia, China, Korea, Italy, Spain, Japan,
				Brazil, Austria and Switzerland, Turkey, London, Italy, Spain etc.,
				thus <strong>&lsquo;Tala Tarangini&rsquo;</strong> has become the
				engine through which Indian percussion music has been presented to
				audiences across the world.
			</p>
			<p>
				Mani is also on the teaching faculty at Bharathiya Vidya Bhavan,
				Bangalore. He has served for 8 years as Lecturer in the <strong>Bangalore
					University</strong>, Music Dept. He has also served as the chief examiner for
				the Percussion examinations conducted by the Karnataka government.
				Furthermore, Mani was faculty for the short-term-diploma course at <strong>University
					of Poland</strong>. Mani has published five volumes of lessons under the
				title, <strong>&lsquo;Sogasuga Mridanga Talamu&rsquo;</strong> which
				are text books on Mridandam. <strong>&lsquo;Vishesha Laya
					Vinyaasa&rsquo;</strong> is a CD in which Mani has produced and the books
				published by him incorporated these in the lessons. The work Mani has
				done in the field of creating new <strong>&lsquo;sholkats&rsquo;</strong>
				is very inventive. He has conducted many camps and workshops on
				pronunciation of sholkats and to transfer his knowledge to the next
				generation.
			</p>
			<p>
				Mani has started his teaching career 5 decades back and now his
				student-family has spread to 4 generations. Mani&apos;s dream
				institution, <strong> KCP</strong> was founded in the year <strong>
					1964</strong> . It&apos;s on its way to celebrate the golden jubilee in the
				present year. His wife is an eminent musician, <strong>
					Karnataka Kalashri Vidushi Ramaamani</strong> . She is proficient in
				performing <strong> Avadhaana pallavi</strong> . Currently Rama Mani
				is serving as the <strong> Vice- Principal of KCP</strong> .
			</p>
			<p>
				Mani has got various awards like <strong> Henry Wilson
					Award, Laya Kala Nipuna, Mridanga Kala Shiromani, Karnataka Gaana
					Kala Bhushana, Karnataka Kalashree, Mridanga Chakravarti, Talavaya
					Chakravarthi, and Honor of Service in music, Kaliyuga Nandi, Kala
					Jyothi, Kala Thapasvi</strong> and <strong>Life time achievement
					award</strong> . To conclude, Mani is a spectacular artist India has ever
				seen.
			</p>
		</article>
		<iframe width="100%" height="300px"
			src="https://www.youtube.com/embed/kCfZnxLTOJM" frameborder="0"
			allowfullscreen></iframe>		
	</div>
</div>