<div class="main-content">
<h3>ABOUT US</h3>
<p>Kala Sandesha Prathishtana&reg; is a Non-Profit organisation constituted with an intention of 'Creating a better world for artists'. Though the Prathishtana was serving the art field from 1997, it took a definite shape in the year 2004 with the chief principles of the Prathishtana being laid out. The founder Sandesh Bhargav, visualised the organisation to be a safe haven for the art and artists which imparts a comprehensive values of value to its students. Thus the organisation started in a tiny town Tirumakoodalu Narasipura near by Mysore district. In and around the vicinity of the smalltown, numerous students learnt Bharathantyam aiming in promoting and preserving Indian art and culture.</p>
<p>Every year number of students excels in the dance examinations conducted by the Karnataka Secondary Education board with flying colors. As a matter of stability in their classical dance career, the prathishtana creates a job opportunity for those students who are exceptionally talented and graduated out of it. In this way, Prathishtana offers lucrative jobs and helps the other remote village students to learn the classical dance via it&rsquo;s own students. Thus acting as a hub connecting each and every student of the Prathishtana directly and thus promoting the classical art forms collectively with a group of likeminded people by establishing a Classical-Socio network. As an outcome of this, the prathishtana is practically empowering women and creating jobs in the field of art to give a promising platform for the artists.</p>
<p>As a result of this, today the organization runs several branches all over Karnataka. More than 300+ students learn Bharathanatayam under KSP tree. Currently, Prathishtana organizes art festivals like Nruthyopaasana, Kalaabhivardhana, Naadayaana and Kishora Bharatha. Each and every festival has it&rsquo;s own flavor and are been admired by the connoisseurs in the field of art.</p>
<p>Lately, the Prathishtana has made a Memorandum of Understanding with the few other different organizations of Mysore and has proposed an idea of promoting Indian arts and culture thus devising 12 Art festivals throughout the year i.e., one in every month. Each of the art festival emanates an enriching diversifying Indian Arts tradition viz., Indian Intagible Arts, Sugama Sangeetha, Vachana Saahithya, Instrumental Music, Rangabhoomi, Gaayana, Empowering Rural Artists, National Integration, Folk Arts, Indian Classical Dances and Yakshagaana &amp; Karaavali Arts.</p>
<h3>VISION</h3>
<p>&quot;To create a better world for artists.&quot;</p>
 
<h3>AIMS &amp; OBJECTIVES</h3>
<ul>
<li>Creating awareness amongst people about the greatness of Indian arts, culture, tradition, heritage and religious conviction.</li>
<li>Spreading the essence and beauty of Indian classical dance, music, folk arts, theatre arts, painting and other allied art forms.</li>
<li>Ensuring proficiency by building an art university, in order to accomplish quality teaching, training and education in the field of above mentioned art forms, especially in the rural context.</li>
<li>Organizing various art festivals throughout the year to promote and initiate the enrichment of Indian arts and culture.</li>
 </ul>
<h3>ACHIEVMENTS</h3>
 
<h4>CD project &apos;Kalaarava&apos; :</h4>
<p>
Nrutyopasaana – 2016 is thoughtfully outlined project aspired to bring up the Nrityabandhas in the form of  volumes of the CD’s. Kalaarava is undertaken by the foundation with an aim to provide a promising platform to the artists of Prathishtana.
</p>
<p>
In this competitive world, the artists should not be deprived of the opportunities bestowed by the art field. In order to overcome all these challenges, the project is successfully executed with the popular Nrityabandhas and Adavus being published with the ensemble comprising of the reverberating vocal music sung my GayanaGandharvaDr. Ra. Sa. Nandakumar, Mridanga by Vidwan Jaya Chandra Rao and Flute assistance given by Vidwan Rakesh. The violin and the Rhytham Pad assistance rendered by Vidwan. Praadeshaacharya and Vidwan. Vinay Kumar. Kalaarava is the first audio recorded sound track published from the Kala Sandesha Prathishtana® . It was released by Dr.Vasundhara Doraswamy on the occasion of Nrutyopasana-2016.
</p>
<h4>Exams:</h4>
<p>
KSEEB of Karnataka State Government organizes Bharatanatyam examinations yearly and hundreds of students of KSP have passed these examinations at various levels with flying colors. KSP is very proud to announce the fact that 15 students trained in the institution have passed the Final Vidwath exams conducted by the board which is considered by the board to be the ultimate scale of measurement of a candidate’s ability in art.
</p>
<h4>Workshops and summer camps:</h4>
<p>
A subject, various perspectives involving discussions and debating over the methods of learning and its pros and cons, which also encircles the tools that aid in better understanding and interpretation of that subject is all that comes under the term, Workshop. It remains effective in improving one’s skills by providing practical exposure and also serves as a Centre for exchange of thoughts and opinions. Tala , Laya, music, yoga are the few vital components of Bharatanatyam. To build a strong platform of these t upon which can dance flaunt, Kala Sandesha Prathishtana® ® organized several workshops. It also has organized several workshops focusing on personality development inculcating management, administrative and leadership skills.
</p>
<p>
The very thought of summer for kids, is Fun. During those days off from school, they mostly involve themselves in the activities that please their passion. In present situation, children are well in competition with the adults in trying out new things. Only after they’re grown will they be able to justify their efforts.
</p>
<p>
Thus, to trigger those creative corners of the young minds, Kala Sandesha Prathishtana®  came up with Summer Camps, from 10 years now. This was ever since a righteous attempts to provide the students of the institution with knowledge, by allowing the faculty members and at times other scholars to teach them.
</p>

<h3>OTHER ACHIEVMENTS</h3>
<ol>
<li>The first and foremost objective of KSP is enrichment of Fine arts in the rural areas. KSP has proved to be successful in fulfilling it. Hundreds of students of rural as well as urban areas are trained and being trained here without any age bar.</li>
<li>There are 20 branches of Bharatanatyam classes of our institution throughout Karnataka.</li>
<li>The trust has extended its service to other rural areas like Talakadu, Kollegal, Mysore and Bangalore.</li>
<li>Art festivals like Nrutyotsava, Nrutyopasana, Kalabhivardhana, Naada yana, Kishora Bharatha etc., are organized by the trust in regular intervals.</li>
<li>The art festivals have proved to be great platforms for the upcoming young rural talents and eminent professional artists as well.</li>
<li>The students of the trust have also participated in many other prestigious national art festivals like Thirupathi utsava, Pallavothsava, Chiguru sanje, Lakshadeeposthsava, Dasara programs etc.</li>
<li>The trust thereby has gained a very good recognition on national platforms.</li>
<li>The trust had one of its branches at Kollegal where the classes were held to the children of an orphanage, Jeevan Jyothi Trust.</li>
<li>Many visits are organized to the historical heritage places like Somanathapura, Thirupathi etc., to educate and create awareness about our country’s rich culture and tradition among the present generation.</li>
</ol>
</div>