<div class="address-row row">
	<div class="col-md-6 address">
		<div class="row"><div class="col-md-3 address-label">Contact:</div><div class="col-md-9 address-value">ABC</div></div>
		<div class="row"><div class="col-md-3 address-label">Address:</div><div class="col-md-9 address-value">Upaasana,<br />#698, 17<sup>th</sup> Cross,<br />28<sup>th</sup>
		Main,<br />JP Nagar 2<sup>nd</sup> Stage,<br />Mysore- 570008</div></div>
		<div class="row"><div class="col-md-3 address-label">Contact No:</div><div class="col-md-9 address-value">1234567890</div></div>
	</div>
	<div class="col-md-6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.582311769144!2d77.69788889221637!3d12.953211813292356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12343e17692f%3A0x54dcb0f50f3a0ef1!2s4%2C+2nd+Cross+Rd%2C+Ayyappa+Layout%2C+Chandra+Layout%2C+Marathahalli%2C+Bengaluru%2C+Karnataka+560037!5e0!3m2!1sen!2sin!4v1484368280615"
			frameborder="0" class="address-map"
			allowfullscreen></iframe>
	</div>
</div>

<div class="address-row row">
	<div class="col-md-6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.582311769144!2d77.69788889221637!3d12.953211813292356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12343e17692f%3A0x54dcb0f50f3a0ef1!2s4%2C+2nd+Cross+Rd%2C+Ayyappa+Layout%2C+Chandra+Layout%2C+Marathahalli%2C+Bengaluru%2C+Karnataka+560037!5e0!3m2!1sen!2sin!4v1484368280615"
			frameborder="0" class="address-map"
			allowfullscreen></iframe>
	</div>
	<div class="col-md-6 address">
		<div class="row"><div class="col-md-3 address-label">Contact:</div><div class="col-md-9 address-value">ABC</div></div>
		<div class="row"><div class="col-md-3 address-label">Address:</div><div class="col-md-9 address-value">Upaasana,<br />#698, 17<sup>th</sup> Cross,<br />28<sup>th</sup>
		Main,<br />JP Nagar 2<sup>nd</sup> Stage,<br />Mysore- 570008</div></div>
		<div class="row"><div class="col-md-3 address-label">Contact No:</div><div class="col-md-9 address-value">1234567890</div></div>
	</div>

</div>

<div class="address-row row">
	<div class="col-md-6 address">
		<div class="row"><div class="col-md-3 address-label">Contact:</div><div class="col-md-9 address-value">ABC</div></div>
		<div class="row"><div class="col-md-3 address-label">Address:</div><div class="col-md-9 address-value">Upaasana,<br />#698, 17<sup>th</sup> Cross,<br />28<sup>th</sup>
		Main,<br />JP Nagar 2<sup>nd</sup> Stage,<br />Mysore- 570008</div></div>
		<div class="row"><div class="col-md-3 address-label">Contact No:</div><div class="col-md-9 address-value">1234567890</div></div>
	</div>
	<div class="col-md-6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.582311769144!2d77.69788889221637!3d12.953211813292356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12343e17692f%3A0x54dcb0f50f3a0ef1!2s4%2C+2nd+Cross+Rd%2C+Ayyappa+Layout%2C+Chandra+Layout%2C+Marathahalli%2C+Bengaluru%2C+Karnataka+560037!5e0!3m2!1sen!2sin!4v1484368280615"
			frameborder="0" class="address-map"
			allowfullscreen></iframe>
	</div>
</div>

<div class="address-row row">
	<div class="col-md-6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.582311769144!2d77.69788889221637!3d12.953211813292356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12343e17692f%3A0x54dcb0f50f3a0ef1!2s4%2C+2nd+Cross+Rd%2C+Ayyappa+Layout%2C+Chandra+Layout%2C+Marathahalli%2C+Bengaluru%2C+Karnataka+560037!5e0!3m2!1sen!2sin!4v1484368280615"
			frameborder="0" class="address-map"
			allowfullscreen></iframe>
	</div>
	<div class="col-md-6 address">
		<div class="row"><div class="col-md-3 address-label">Contact:</div><div class="col-md-9 address-value">ABC</div></div>
		<div class="row"><div class="col-md-3 address-label">Address:</div><div class="col-md-9 address-value">Upaasana,<br />#698, 17<sup>th</sup> Cross,<br />28<sup>th</sup>
		Main,<br />JP Nagar 2<sup>nd</sup> Stage,<br />Mysore- 570008</div></div>
		<div class="row"><div class="col-md-3 address-label">Contact No:</div><div class="col-md-9 address-value">1234567890</div></div>
	</div>

</div>

<div class="address">
	<p>Near Vidyodaya college, Kanaka convent, Mysuru dist, T.
		Narasipura 571124</p>
</div>
<div class="address">
	<p>Samarpana School, Talakadu,T Narasipura taluk, Mysore district
		571122</p>
</div>
<div class="address">
	<p>Geetha Primary school, Kollegala, Chamaraja nagara District
		571440</p>
</div>
<div class="address">
	<p>#86 EWS, KHB,2nd stage,M block, Kuvempunagar, Mysuru 570023</p>
</div>
<div class="address">
	<p>#496, giridarshini layout, Mysore 570028</p>
</div>
<div class="address">
	<p>#B009, mittal panorama, near jockey quarters, Mysore</p>
</div>
<div class="address">
	<p>#42/a, Sri nilaya, GB Palya, Sidarthanagar, Mysore</p>
</div>
<div class="address">
	<p>Devi krupa, 4th cross, 2nd main, Shaktinagar, Mysore</p>
</div>
<div class="address">
	<p>#2568/1, Kanasu, 2nd cross, Vontikoppal, V V Mohalla, Mysore
		570002</p>
</div>
<div class="address">
	<p>#157, 7th cross, Dr.Rajkumar road, yeraganhalli new extension,
		Mysore-11</p>
</div>
<div class="address">
	<p>#4293 , near Ganapathi temple, Dattagalli, kanakadas nagar,
		Mysuru</p>
</div>
<div class="address">
	<p>4th Cross, Near Ganapathi temple, Vidya nagar, Mysuru</p>
</div>
<div class="address">
	<p>#481/A, Janaki, 11th main, 1st stage, E- block, J P Nagar,
		Mysuru- 570 008</p>
</div>
<div class="address">
	<p>#363, Nethaji nagar, revenue block, Alanahalli post, Mysore-28</p>
</div>
<div class="address">
	<p>#16, 1st cross, Kalidasa layout circle, opp. Excelent public
		school, Srinagar, Bangalore-50</p>
</div>
<div class="address">
	<p>#114/3, N K farm, Dubhasipalya, Bangalore 59 Land mark-
		Gnanabhodini school</p>
</div>