<div class="address">
	<h5>Address</h5>
	<p>
		&lsquo;Upaasana&rsquo;, #698, 17<sup>th</sup> Cross, 28<sup>th</sup>
		Main, JP Nagar 2<sup>nd</sup> Stage, Mysore- 570008
	</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<form>
				<div class="row controls-row">
					<div class="input-group col-md-6">
						<span class="input-group-addon" id="contactus-name-label">Name</span>
						<input type="text" class="form-control" id="contactus-name"
							aria-describedby="contactus-name-label" required>
					</div>
					<div class="input-group col-md-6">
						<span class="input-group-addon" id="contactus-email-label">Email</span>
						<input type="text" class="form-control" id="contactus-email"
							aria-describedby="contactus-email-label" required>
					</div>
				</div>
				<div class="row controls-row">
					<textarea class="col-md-12 col-xs-12" id="contactus-message" name="message"
						placeholder="Your Message" rows="5"></textarea>
				</div>
				<div class="row controls-row">
					<button id="contact-submit" type="submit"
						class="btn btn-primary pull-right col-md-4 form-control">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
