<div class="row team-member">
	<div class="col-md-12">
		<article>
			<img class="team-member-photo"
				src="webapp/images/trustees/sandesh.jpg" />
			<div class="h4">
				<span class="team-member-name">Sri K Sandesh Bhargav</span>
			</div>

			<div class="team-member-details">
				<p>
					Vidwan Sri K Sandesh Bhargav is a renowned <strong>terpsichorean</strong>and
					an outstanding <strong>choreographer</strong>, acclaimed
					internationally for his own attitudes and principles towards
					Bharathanatyam. He was initiated into Bharathanatyam by Natyacharya<strong>Vidwan
						R Kannan</strong>from Mysore. Under his able guidance, Sandesh became one
					of the youngest recipients of Vidwath grade. His proliferating urge
					to discover the extensive areas of Bharathanatyam escalated under
					the guidance of internationally renowned danseuse, Karnataka Kala
					Tilaka,<strong>Dr. Vasundhara Doraswamy</strong>. Sandesh&rsquo;s
					inundated thoughts on Bharathanatyam spread its wings of dance
					towards enriching Music and meticulous Tala-Laya. His in depth
					studies in Tala, Laya and Avadhaana were initiated and nurtured by
					Guru Dr. R S Nandakumar.
				</p>
				<strong>As a Performer</strong>
				<p>
					Sandesh has performed in various prestigious and coveted festivals
					such as<strong> Ujjayini- Poorna Kumbha Mela, Tirupati-
						Brahmotsava, Kerala- Kalamandalam</strong>and also represented India in the
					&lsquo;<strong>International Dance Alliance</strong>&rsquo; at
					Narada Gana Sabha Bhavana, Chennai. Adding to it, his stage
					performances include <strong>Hampi festival, Khajuraho
						festival, Inaugural performance in Mysore Dasara festival,
						Natarajothsava, Pallavothsava, Vasundharothsava</strong>, etc. Sandesh is
					also learning Karnataka Classical Music from Guru <strong>Dr.
						R S Nandakumar</strong> and has put forth this knowledge in enhancing the
					delicacies of dance. In his journey of Bharathanatyam, Sandesh has
					also stepped into another area of dance that is, Natuvangam.
				</p>
				<strong>As a Guru</strong>
				<p>
					He not only intends to put forth able artists but also responsible
					beings with great human aspects. He started exploring the eternal
					magnitude of the Indian Classical dance by performing and tutoring
					to a number of Classical dance aspirants through his foundation <strong>Kala
						Sandesha Prathishtana</strong>. Kala Sandesha Prathishtana is a firmly
					established Public Charitable Trust and Art foundation in Mysuru,
					and through his creativity, innovation and new experiments within
					the classical bounds, he grabbed the attention and credits of the
					people who have great affinity towards Indian classical dance. The
					inception of Kala Sandesha Prathishtana with 10 pupils was in 2004.
					Now, it possesses more than 300 students under 18 of its branches
					across Karnataka (T Narasipura, Mysuru, Bengaluru, Talakad,
					Chamarajanagara, Kollegala) preaching dance, nattuvangam, tala and
					laya. His Academy&rsquo;s objective is to provide an alternate
					platform for the rural youth to earn their livelihood, in turn
					keeping Indian classical forms alive. It is a cultural academy
					dedicated for the preservation of traditional values of Indian art,
					especially in the field of Bharatanatyam and Karnataka Classical
					Music.
				</p>
				<strong>Cultural Festivals</strong>
				<p>
					Sandesh, organizes more than one National level festivals every
					passing year such as<strong>Nrityopasana, Kishora
						Bharatha, Naadayaana and Kalabhivardhana</strong>. Nrithyopasana is
					exclusively meant for providing propitious stage for the artists
					who take dancing tutelage in his organization, in order to create
					for them an opportunity to get exposure and recognition
				</p>
				<strong>As a Choreographer &amp; Composer</strong>
				<p>
					Sandesh along with his learning pursuit, has made enormous
					contributions by staging myriad of performances and choreographies.
					His venture has always distinguished itself by holding onto the
					strong roots of Hindu mythology. <strong>Karna</strong>, from the
					ancient manuscript of <strong>Pampa Bharatha, Sambhavami
						Yuge Yuge,</strong> from the ancient manuscript of <strong>Kumaravyasa
						Bharatha, Navaavaranavasini</strong> (based on Lalithsahasranama- formation
					of the Srichakra),<strong>Dashakanaka</strong>(manuscript in the
					words of <strong>Kanakadasa</strong>),<strong>Shakti Peeta
						Darshana</strong>(acknowledged the origin of the Shakthipeetas) and <strong>Vishnupraseeda
						Mahishapuravasi</strong>(Stories of Vishnu temples in and around Mysuru)
					were effectively put across by Sandesh in his spectacular
					choreography.<br /> He holds ICWA (Institute of Cost Works
					Account) &amp; CFA (Charted Financial Analyst), Professional course
					degrees and is the Associate Member of &lsquo;Institute of Cost
					Accountants of India&rsquo;. Being an Assistant Vice President in
					the much reputed Multi National Company Genpact India Private
					Limited, uncompromising Sandesh has learnt to balance both his
					professional and the art front by still pursuing his dance career
					as a <strong>Performer, Nattuvangist, Guru, Management
						Technician, Organizer and Art Promoter</strong>.
				</p>
			</div>
		</article>
	</div>
	<div class="clearfix"></div>

</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo"
			src="webapp/images/trustees/umapathy.JPG" />
		<div class="team-member-details">
			<div class="h4">
				<span class="team-member-name">Dr. D. Umapathy</span>
			</div>
			<p>
				<strong>Founder Trustee Professor Umapathy, b</strong>orn on 20th
				June 1958, in Rayadurga(AP). He successfully completed his B.B.M and
				M.Com degrees from University of Mysore. He began his teaching
				career as a lecturer in the year 1983 at Vani Sugar Arts and
				Commerce First Grade College, Hiriyur. Later, he was appointed as
				lecturer in 1984 and currently working as associate professor in
				Commerce at Vidyodaya Arts and Commerce First Grade College,
				T.Narasipura, Mysore Dist. He obtained his Ph.D in management from
				Karnataka State Open University, Mysore in 2011. His area of
				specialisation is Cost Accounting and HRM in which he has presented
				papers on various topics in State, National and International level
				seminars and conferences. He has a vast teaching experience.
			</p>
			<p>During his career, he worked as a member of curriculum
				development and examination at University level and Autonomous
				college level and also actively served as Adult Education officer,
				NSS officer, Placement officer. He helped students to secure
				employment. He is the member of Governing Council of Ekalavya
				Institute of Technology, Ummathur, Chamarajanagar. He has great
				passion towards watching classical dance and listening classical
				music.</p>
			<p>Apart from teaching Commerce, was much more passionate towards
				Public service. His passion made him to join Sandesh&rsquo;s hand to
				establish the Public Charitable Trust Kala Sandesha Prathishtana in
				2004. He is a man with plenty of experience is being proper
				directions to the Trust members. And Dr. Umapathy is presently
				working as a Professor at Vidhyodhaya Govt. College T.Narasipura
				Mysore.</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/trustees/Manu.JPG" />
		<div class="team-member-details">
			<div class="h4">
				<span class="team-member-name">Sri Manu G.</span>
			</div>
			<p>
				The young and enthusiastic Manu took up the charge as a <strong>Trustee</strong>two
				years back though he is the part of Kala Sandesha Prathishtana since
				a decade. He is consistently involving himself into the
				administration, management, organizing festivals and also in
				maintaining the track of accounts. And Presently Manu is the
				Assistant Manager at Back Office Shared Services India Pvt Ltd.
			</p>
			<p>Manu has been an integral part of KSP since it's genesis and
				has always shouldered the ups and downs of the organisation. His
				endeavour in putting to light, the deeds of the organisation has
				been massive. He dedicates enormous amount of his time and energy in
				bringing together the minutes, that sums up to an elegant art event.
				He steers a prodigious journey as an art patron with Kala Sandesha
				Prathishtana.</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo"
			src="webapp/images/trustees/Radhika.JPG" />
		<div class="team-member-details">
			<div class="h4">
				<span class="team-member-name">Smt. Radhika S. Bhargav</span>
			</div>
			<p>
				Radhika Bhargav has appointed as a <strong>Trustee</strong>of Kala
				Sandesha Prathishtana couple years back. She is a person with the
				urge of contributing to the field of Art as well as to the society
				through this charitable Trust. Radhika Bhargav is of the primary
				Trustees and administrator of the organization. She is being a
				Computer Science post graduate, who plays a multifaceted role of
				Event organiser, Art festival Manager, Program co-ordinator, KSP Art
				production representative for the Government of Karnataka and India.
				At present, she operating on the Administrative, Managerial and
				Operational wings of Kala Sandesha Prathishtana.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>