<div class="trust-section">
	<h3>Adhvaya bharatha samprathi</h3>
	<p>#500, Opposite Ayiji Bhandar, Ganapathi temple road, Giridarshini Layout, Alanahalli, Mysore, Karnataka-570028</p>

	<p>Adhvaya bharatha samprathi is a non-profit organization works to integrate India based on its culture, heritage and traditions, mainly focusing towards both rural and urban population especially the youth because their opportunities are rare and exposure to the traditions and culture of India is limited. Organization&rsquo;s aim is to create awareness and appreciation of Indian Culture, Heritage, Traditional, Spiritual and Religious practices.</p>

	<h5>Objectives</h5>
	<ol>
	<li>To introduce, undertake and manage any welfare, religious, educational, social and cultural activities as may be decided by the organization for the benefit of the public at large.</li>
	<li>To inculcate the spirit of national integration in the minds of the youth and rural India and initiate training programs for ensuring it.</li>
	<li>To foster and facilitate education and research and publications in various disciplines especially in areas of Indian diversified culture, traditions and heritage.</li>
	<li>To train and equip social workers and thereby moralize the importance of national integrity in their minds.</li>
	<li>To offer relief to the distressed and disabled persons of the society by sponsoring social service schemes, giving donations, scholarships, grants etc to individuals or institutions.</li>
	<li>To help in starting healing and health care units for the ailing and aged and educating the ignorant masses about common ailments and diseases.</li>
	<li>To empower women and thereby involve them in the national integration programmes.</li>
	</ol>

	<h5>Activities</h5>
	<ul>
	<li>Hosting national integration programs in which eminent persons motivate people towards the integration of varied culture of India through their activities.</li>
	<li>Arranging competitions and other activities to the school going children in order to drive the essence of nationalism in their minds and acts.</li>
	<li>Celebrating all national festivals and there by preach the society the importance of Indian history and heritage.</li>
	<li>Visiting elders and schools and to create interest among the people to take active part in encouraging children to take interest in Indian culture and traditions.</li>
	<li>Arranging regular visits by instructors to the centers for coaching interested persons and tapping the local talents.</li>
	<li>Arranging regular camps and workshops for uplifting younger generation for national cause.</li>
	<li>Providing institute scholarships and sponsorships for social activities.</li>
	<li>Arranging visits and tours to the places of historical interest and national heritage.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Smt. Shantha, Sri K. Sandesh, Sri Chethan R, Sri Manu G, Kum. Anusha G M</p>
</div>

<div class="trust-section">
	<h3>Chiranthana Ranga Peeta</h3>
	<p>#394/2, Nanjangud Road, T. Narasipura, Mysore district&ndash;571124.</p>

	<p><strong>Chiranthana Ranga Peeta</strong> is a non-profit organization works to create platform for artists to build interest in and to promote Indian Theatre forms, to create a wider perspective in the art of Theatre like Sanskrit drama, Modern Indian drama and traditional Indian Theatre forms. Focus on working towards framing a structured Theatre form by studying and implementing ancient scripts on it and to provide social security to the artists specially for the Women by giving them opportunities to learn the art form Drama and there by Educate, Empower and improve living conditions.</p>

	<h5>Objectives</h5>
	<ol>
	<li>To create and promote art form Drama in rural areas by organizing events.</li>
	<li>To nurture and spread the message of Indian culture and values.</li>
	<li>To provide an opportunity for artists to work on contemporary and modern plays.</li>
	<li>To create a facility for artists to get train in as Playwrights and Directors.</li>
	<li>To create social awareness in people through Drama and Street plays.</li>
	<li>To conduct Workshops, Guest lectures, Seminars and Small performances provide the information about the concepts that might help people to execute Theatre accordingly.</li>
	</ol>

	<h5>Activities</h5>
	<ul>
	<li>Conducting sessions for the rural people to educate and to promote them in the Theatre.</li>
	<li>Facilitating creative interaction between traditional and contemporary Theatre artists.</li>
	<li>Arranging institutes scholarships and sponsorships for talented persons to improve their specific activity.</li>
	<li>Building a library for the artists related to scripts writers, literature and language to enhance their knowledge.</li>
	<li>Providing platform for the translation of books on Theatre, publication on drama books and related subjects.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Sri Chikkaninga, Sri K. Sandesh, Sri Raveesh Renjala Krishnamurthy, Smt Radhika S Bhargav, Kum Shilpa C</p>
</div>

<div class="trust-section">
	<h3>Ekatha Nruthyalaya</h3>
	<p>#74/2, Sri Mahadeswara Krupa, 1<sup>st</sup> cross, Indira Colony, T. Narasipura, Mysore District, Karnataka State, Pin-571124</p>
	<p>Ekatha nruthyalaya is a non-profit organization works to create platform to present the young talents of Classical dance forms of India and preserve the divine beauty of these dance forms. Organization aims to create better livelihood opportunities, with participation of the rural people in the activities of the trust. Encourage them to learn and teach various dance forms and to provide social security to the artists specially for the Women by giving them opportunities to learn the dance forms and there by educate, empower and improve living conditions.</p>

	<h5>Objectives</h5>
	<ol>
	<li>To introduce, undertake and manage any welfare, religious, educational, social and cultural activities as may be decided by the trustees for the benefit of the public at large.</li>
	<li>To nurture and spread the message of Indian culture and values.</li>
	<li>To inculcate the deeper insights behind the Indian classical dance forms to the youth. Support their visionary initiatives for the world wide spread of Indian classical dance forms.</li>
	<li>Conduct workshops, guest lectures, seminars, small performances, provide platform for young minds to interact with the artist.</li>
	</ol>

	<h5>Activities</h5>
	<ul>
	<li>Conducting sessions in the rural areas, among youth groups, and women associations for creating interest and encourage them. Identify the talents and provide opportunity to develop a greater understanding.</li>
	<li>Helping people in starting small centers for extracurricular and recreational activities in a village or group of villages.</li>
	<li>Arranging visits to the other States Dance festivals thereby enhancing one's ability to assess and understand different colors of dance by interacting to renowned Artists from the respective States.</li>
	<li>Promoting cultural interlinkage between the countries and enhance cultural collaborations.</li>
	<li>Providing institutes scholarships and sponsorships for talented persons to improve their specific activity.</li>
	<li>Arranging visits and tours to the places of historical interest.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Smt Kumari HL, Smt Sandhya Rani, Sri K. Sandesh, Smt Radhika S Bhargav, Kum Dhanalakshmi V
</div>

<div class="trust-section">
	<h3>Sankeerthana Sabha</h3>
	<p>#363, Revenue Block, Nethaji nagar, Alanahalli post, Mysore District, Karnataka State, Pin-570028.</p>

	<p>Sankeerthana sabha is a non-profit organization aims on woking towards faster and facilitate education, research and publication of and to organize cultural events of <strong>Gamakavachana</strong>, Bhakthi pantha like <strong>Haridasa sahithya, Vachana sahithya</strong>, literature of <strong>Kabirdas, Tulsidas </strong>and <strong>Meera</strong>. To promote the integration of Kannada literature with different art forms of India.</p>

	<h5>Objectives</h5>
	<ul>
	<li>To introduce, undertake and manage any welfare, religious, educational, social and cultural activities as may be decided by the Trustees for the benefit of the public at large.</li>
	<li>To faster and facilitate education, research and publications of; and to organize cultural events of Sugama Sangeetha.</li>
	<li>To offer relief to the distressed and disabled persons of the society by sponsoring social service schemes, giving donations, scholarships, grants etc. to individuals or institutions whatever and whenever the Trustees decides in future.</li>
	<li>To provide community hall as a common place to facilitate discussions, discourses etc. on matters and subjects of general interest like Philosophy, Art, Culture, and Heritage and for concerts, performance and lectures for the enrichment and wisdom of the human mind.</li>
	<li>Trust provides help in ageing, ailing artists in the field of Gamakavachana, Bhakthi pantha like Haridasa sahithya, Vachana sahithya, and literature of Kabirdas, Tulsidas and Meera.</li>
	</ul>

	<h5>Activities</h5>
	<ul>
	<li>Identifying the talents and provide opportunity for creating interest and encouraging them.</li>
	<li>Adding prudence among people to take active part in encouraging Gamakavachana, Bhakthi pantha like Haridasa sahithya, Vachana sahithya, Kabirdas, Tulsidas and Meera bhajans.</li>
	<li>Helping artists to take part themselves in extracurricular and recreational activities in programs provided by the Trust.</li>
	<li>Trust takes the responsibilities of reaching forgotten lyrics, vachanas, musical parikramas ,and encourage in research activities.</li>
	<li>Arranging regular programs of music concerts, relating to the field of Gamakavachana, Bhakthi pantha like Haridasa sahithya, Vachana sahithya, literature of Kabirdas, Tulsidas and Meera.</li>
	<li>Arranging visits and tours to the places of historical interest.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Smt Anusuya Y Adiga, Smt Bhagyalakshmi, Sri K.Sandesh, Smt Radhika S Bhargav, Sri Amith Adiga, Kum Akshatha Y</p>
</div>

<div class="trust-section">
	<h3>Swarashraya Gana Sabha</h3>
	<p>#697, 17<sup>th</sup> Main, Vishwamanava Double road, Saraswathi Puram, Mysuru- 570 009</p>

	<p>Swarashraya gana sabha is a non-profit organization, works towards creating awareness and appreciation about Indian Culture, Heritage, Traditional, Spiritual and Religious practices through Indian classical music, especially vocal. To create interest in and promote Indian classical music, especially vocal (<strong>Karnataka Classical Music and Hindustani Music</strong>). To organize music festivals every year, solely for Indian classical music vocalists. To undertake projects for intellectual development, development of leadership skills in orphanages for mutual benefits and bringing out the best in them. These objectives shall be mainly directed towards providing a stage to perform, for the young and eminent vocalists of Indian Classical Music.</p>

	<h5>Objectives</h5>
	<ul>
	<li>To introduce, undertake and manage any welfare, religious, social and cultural activities associated with Indian classical music as may be decided by the trustees for the benefit of the public at large.</li>
	<li>To foster and facilitate research and publications in various disciplines pertaining to Indian classical music.</li>
	<li>To organize workshops in order to enrich people with the knowledge and importance of Indian classical music.</li>
	<li>To identify young and eminent vocalists in Indian Classical Music.</li>
	<li>To offer relief to the distressed and disabled persons of the society by sponsoring social service schemes, giving donations, scholarships, grants etc to individuals or institutions.</li>
	</ul>

	<h5>Activities</h5>
	<ul>
	<li>Organizing festivals which will treat Karnataka classical music and Hindustani music at par.</li>
	<li>Identifying at least two artists every year who will be offered to perform at the music festival organized by the Trust.</li>
	<li>Providing scholarships and sponsorships for the talented young vocalists to aid their growth in the field of Indian classical music.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Smt. Shantha, Sri K. Sandesh, Sri Chethan R, Sri Manu G, Kum. Anusha G M</p>
</div>

<div class="trust-section">
	<h3>Vikasana Trust</h3>
	<p>#214/1 Sri Hari Nilaya Behind Marigowda Smaraka Bhavana, Vivekanandanagar, T Narasipura-571124.</p>
	<p>Vikasana trust is a non-profit organization works to propagate the Indian Culture, FINE ARTS, Heritage, Folk-lore, Traditional, Spiritual and Religious practices and inculcate the art of appreciation amongst the rural mass. Aim of the organization is to organize a platform for the rural children to unfurl their talents and to interlink culture with education so as to develop all-round personality of the rural children.</p>

	<h5>Objectives</h5>
	<ul>
	<li>To introduce, undertake and manage any welfare, religious, educational, social and cultural activities as may be decided by the Trustees for the benefit of the public at large.</li>
	<li>To empower women by creating awareness of arts and culture, encouraging them to take Art as their livelihood, thereby enabling them to be self-reliant.</li>
	<li>To faster and facilitate education and research and publications in various disciplines especially in areas of interest for rural development.</li>
	<li>To train and equip social workers for undertaking work in rural development and reconstruction.</li>
	<li>To offer relief to the distressed and disabled persons of the society by sponsoring social service schemes, giving donations, scholarships, grants etc to individuals or institutions.</li>
	<li>To provide community hall as a common place to facilitate discussions, discourses etc on matters and subjects of general interest like Philosophy, Art, Culture, Heritage and for concerts, performance and lectures for the enrichment and wisdom of the human mind.</li>
	<li>To help in starting healing and health care units for the ailing and aged and educating the ignorant masses about common ailments and diseases</li>
	</ul>

	<h5>Activities</h5>
	<ul>
	<li>Arranging workshops by eminent scholars in the respected fields mentioned in aims and objectives, once in every three months.</li>
	<li>Holding competitions among various other institutions for encouragement.</li>
	<li>Visiting elders and schools in villages and to create interest among the rural people to take active part in encouraging children to take interest in culture, fine arts and the like as part of extra &ndash; curricular activities.</li>
	<li>Helping people in starting small centers for extracurricular and recreational activities in a village or group of villages.</li>
	<li>Arranging regular visits by instructors to the centers for coaching interested persons and tapping the local talents.</li>
	<li>Arranging regular programs of dancing music concerts, lectures, talks, dramas and folk-lore.</li>
	<li>Providing institute scholarships and sponsorships for talented children to improve their specific activity.</li>
	<li>Arranging visits and tours to the places of historical interest.</li>
	</ul>

	<h5>Trustees</h5>
	<p>Smt. Jyoti Hebbar, Sri K Sandesh, Smt. N C Ushambika, Sri. Niranjandas L G, Smt. Sindhu G, Smt. Radhika S Bhargav</p>
</div>

<div class="trust-section">
	<h3>Abhyudaya Samskruthika Vihara</h3>
	<p>#735/2, New Extension, PLD Bank Road, T Narasipura, Mysore, Karnataka-571124</p>
	<p>Abhyudaya Samskruthika Vihara is a non-profit organization works to integrate Intangible Cultural Heritage of India and to up hold the Indian culture, heritage and traditions, mainly focusing towards both rural and urban population especially the youth because their opportunities are rare and exposure to the traditions and culture of India is limited. Organization&rsquo;s aim is to create awareness and appreciation of Intangible Cultural Heritage, Traditional, Spiritual and Religious practices.</p>
	<h5>Objectives</h5>
	<ol>
	<li>To foster and facilitate education and research and publications in various disciplines especially in areas of interest for endangered art forms development.</li>
	<li>To introduce, undertake and manage any welfare, religious,&nbsp; educational, skcial and cultural activities as may be decided by the trustees which benefits the enhancement of the endangered arts off India.</li>
	<li>To support women empowerment and rural development by providing employment opportunity to the people from rural area especially for women.</li>
	<li>To Develope Indian Arts in the growing era of modernization.</li>
	<li>To offer relief to the distressed and disabled persons of the society by sponsoring social service schemes, giving donations, scholarships, grants etc to individuals or institutions preforming the endangered art of India.</li>
	</ol>
	<h5>Activities</h5>
	<ul>
	<li>To encourage youngsters to learn the traditions and practices of Intangible Cultural Heritage of India like Traditional brass and copper of utensil making among the Thathras of Jandiala Guru, Panjab, Kalbelia folk songs and dances of Rajasthan, Chhau dance, Buddhist Chanting of Ladakh- Recitation of sacreD buddhisy texys in the trans-Himalayan Ladakh region, Jammu and Kashmir, Sankirthana- Ritual singing, Drumming and dancing of Manipur, Ramlila-The traditional performance of ramayana, Tradition of Vedic chanting, Ramman-Religious festival and ritual theater of the Garhwal Himalayas, Kutiyattam-Sanskrit theatre, Mudiyettu-Ritual theatre and dance drama of kerala etc..</li>
	<li>To arrange regular programs of the Indian arts which are recognized by Sangeetha Natak Accademy or Ministry of Culture, Government of India or any other state or Central Govwrnment bodies.</li>
	<li>To vosit elders and school on villages and to create interest among the rural people to take active part in encouraging children to take interest in culture, fine arts and the like as part of extra- Curricular activities.</li>
	<li>To enhance the Indian Culture, tradition and moral values.</li>
	<li>To institute scholarships and spponsorships for talented persons to improve their specific activity.</li>
	<li>To arrange visits and tours to the places of historical interest</li>
	<li>To foster and develop any other activity related to the objectives of the Trust</li>
	</ul>
	<h5>Trustees</h5>
	<p>Sri Krishna Kumar G, Smt Chaitra R, Sri K Sandesh, Sri Manu G, Sri Hari Krishnan, Sri Yadu Krishnan</p>
</div>

<div class="trust-section">
	<h3>Karavali Kalanikethana</h3>
	<p>#42/A, &ldquo;Srinilaya&rdquo;, G.B.Palya,Siddharthanagar, Mysuru-570011</p>
	<p>Karavali kalanikethana is an organization established to promote and propagate the coastal art forms of India, which are some of the untapped cultural resources of India&rsquo;s rich heritage. To study these art forms, enjoy them and take the required step in bringing these endangered art and artists to light is one of the main reasons why this organization is brought to life. Rural developments, women empowerment, betterment of youth are chief aims of this organization.</p>
	<h5>Objectives</h5>
	<ol>
	<li>To create awareness and appreciation about the coastal arts, heritage, traditional, spiritual and religious practices.</li>
	<li>To create interest in and promote Semi-classical dance, drama, folk- lore etc native to coastal arts of India.</li>
	<li>Organize festivals every year for the propagation of coastal arts.</li>
	<li>To introduce, undertake and manage any welfare, religious, educational, social and cultural activities as may be decided by the trustees for the benefit of the public at large.</li>
	<li>To offer relief to the distressed and disabled persons of the society by way of donations, scholarships etc. to the individuals or institutions.</li>
	</ol>
	<h5>Activities</h5>
	<ul>
	<li>Establish an academy of arts, and organize festivals that provide platform for performance of coastal arts.</li>
	<li>Conduct detailed study of diminishing coastal arts and work for their progress.</li>
	<li>To encourage startups that promise to engage in recreational activities related to coastal arts.</li>
	<li>To undertake projects for intellectual development, development of leadership skills in orphanages for mutual benefits and bringing out the best in them.</li>
	</ul>
	<h5>Trustees</h5>
	<p>Sri P S Devadas, Sri Pramod M, Sri Raveesh Renjala Krishnmurthy and Kum Pooja Dev</p>
</div>