<div class="gurus-tab">
	<ul class="nav nav-tabs">
		<li><a href="javascript:void(0)"
			class="guru-link" data-guru-name="VasundharaDoraswamy">Dr. Vasundhara Doraswamy</a></li>
		<li><a href="javascript:void(0)"
			class="guru-link" data-guru-name="Sathyanarayana">Dr. R.Sathyanarayana</a></li>
		<li class="active"><a href="javascript:void(0)"
			class="guru-link" data-guru-name="NandaKumar">Dr. Ra. Sa. Nanda Kumar</a></li>
		<li><a href="javascript:void(0)"
			class="guru-link" data-guru-name="Kannan">R.Kannan</a></li>
	</ul>
</div>
<div class="guru-content"></div>