<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Anaga.JPG" />
		<h4>
			<span class="team-member-name">Anaga M T</span>
		</h4>
		<div class="team-member-details">
			<p>
				At the forefront of new generation of Bharathanatyam dancers, Anaga
				M T represents the future of the ancient art form. Since age 5 she
				always had a keen interest and an unquenchable passion for dance,
				which her parents <strong>Thippanna M.S.</strong> and <strong>Aruna</strong>
				have encouraged and supported from her young age.
			</p>
			<p>
				Initially she started getting education on Bharathanaya from <strong>T.S.
					Roopa</strong> of T Narasipura and now she is one among the blessed disciple
				to have Bharathanatyam training under the guidance of Guru Vidwan. <strong>Sri.
					K. Sandesh Bhargav</strong>, Director of Kala Sandesha Prathishtana which
				teaches Vasundhara Style of dancing and whose teaching efforts and
				words of encouragement have truely moulded and shaped Anaga to the
				dancer she is today. Her undying love and dedication towards
				Bharathanatyam has made her to captivate the traditional and
				aesthetic dance form. Anaga&apos;s immaculate, graceful movements
				and convincing Abhinaya have won the admiration of the connoisseurs
				of dance. The intensity of the engrossment she pursue during her
				performance has made her art reachable to everyone.
			</p>
			<p>
				Anaga has completed her <strong>Vidwat</strong> examinations
				conducted by the Government of Karnataka with flying colours in the
				year 2008 and her Ranga Pravesha took place in the year 2012 getting
				the appreciation from all the connoisseurs of the dance discipline.
				Anaga is an Engineering graduate from Electronics and Communication
				branch and a studious student. Currently, she is working in IBM
				India Pvt Ltd, Bangalore. She has toured abroad for the onshore
				assignments through her company.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Anusha.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Anusha M Gadaar</span>
			</h4>
			<p>
				Anusha is a blooming upcoming, young talent who has accepted dance
				as her congenital art. She was immensely fascinated towards the
				attributes of Bharatanatyam at very young age of 5. She is the
				daughter of <strong>Sri. Manjunath and Smt. Shantha</strong> who are
				originally from Udup, now residing in Mysore. Her parents noticed
				her sheer involvement in dance and enrolled her into a distinguished
				instituition, <strong>Kala Sandesha Prathishtana,
					Tirumakoodalu Narasipura</strong>, headed by proficient Guru <strong>Vidwan
					Shri. K.Sandesh Bhargav</strong>.
			</p>
			<p>
				Her intense cohesion and passion to dance made her to imbibe each
				and every minute aspects of the art, ingenuously. She mastered
				comprehensively over the prime entities of dance, Nritta and
				Abhinaya. This enthusiastic danseuse enthralls the audience by her
				swift movements and matured abhinaya by fitting the stage with
				energy that is really awe-inspiring. Her advancements in the quality
				of dance were profoundly supported by her interest in Yoga, Kalari
				payittu and Karnataka music. She successfully passed the Vidwat
				Examination in <strong>2009</strong> with first class.
			</p>
			<p>
				She stood <strong>first</strong> to the Karnataka state, <strong>Prathibha
					Karanji</strong> conducted by Board of Karnataka. She had performed in much
				coveted festivals like <strong>Thirupathi utsava,
					Pallavothsava, Hampi utsava, Jalapathothsava, Mysore Dasara program</strong>
				etc. She is presently pursuing Masters in commerce and <strong>I.C.W.A</strong>.
				She has taken the dance as her carrier and wants to expertise not
				only in the practical arena but also in the theoretical approach.
				She has also worked in schools as a dance teacher and choreographed
				for much successful college cultural fests. At present, being a
				teacher she is imparting Bharatanatyam to many students in Mysore
				with an unwavering commitment.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Akshata_Adiga.JPG" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Akshatha Y Adiga</span>
			</h4>
			<p>
				AKSHATHA.Y., a budding talented danseuse born to <strong>Yajanarayana
					Adiga</strong> and <strong>Anasuya</strong>. She started learning basics of
				Bharatanatyam at the age of six under the <strong>guru
					Vid.Sandesh Bhargav</strong>. With her dedication, Akshatha is endeavouring
				to ceaselessly perfect disciplines of and gaining proficiency in
				Bharatanatyam. Her dedication, devotion facilitates her to acquire
				an in-depth knowledge in dance. In her performances, she mesmerizes
				and enchants her audience by her clear expressive Abhinaya and
				meticulous Nritta.
			</p>
			<p>
				Akshatha has performed in various programmes organized by Kala
				Sandesha Pratistana and also has given solo performances. Her
				performance in <strong>Dasara festival</strong> organised by
				government of Karnataka GanaBharati, Mysore and National level
				festival <strong>Pallavothsava</strong> conducted by Vasundhara
				Performing Arts Centre, Mysore, brought her accolades for her
				Abhinaya. She has won prizes in the competitions held by University
				of Mysore consecutively for 2 years, Amara Kala Sangha - Mysore,
				Kala Sharada organized by Sharada Vilasa College-Mysore, <strong>Kala
					Pratibhotsava 2008</strong> organized by Department of Kannada and culture,
				participated twice in the state level <strong>Prathibha
					Kaaranji, Sangeetha Sadvidya, Makkala Dasara</strong>, and Rotary Central
				,Mysore. She is dedicated herself to divine art form of
				Bharatanatyam through <strong>Rangapravesha</strong> on 9th May 2010
				at Jaganmohan Palace Auditorium, Mysore. She has passed her Final
				Vidwath Examination in Bharathanatyam of KSSEB with <strong>first
					rank</strong>. She is also a B-grade <strong>Doordarshan artist</strong>.
			</p>
			<p>
				She is also imparting Bharathanatyam to numerous of her disciples
				with an unwavering commitment in Mysore.The greatest passion of
				Akshatha is to pursue Bharatanatyam in which she looks forward to
				impart training and become a distinguished danseuse with the
				blessing of her Guru. At present Akshatha is pursuing first year <strong>MSc</strong>
				in Mathematics under <strong>Mysore University</strong>.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/akshatha_deepak.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Akshatha Deepak</span>
			</h4>
			<p>
				She is the daughter of <strong>Sri. Mohan and Smt. Savitha
					Mohan</strong>, originally from Mysore, now residing in Al Ain, Abu Dhabi.
			</p>
			<p>
				Akshatha started learning Bharatanatyam at the tender age of 7, and
				the dance journey of this Artist spans over 12 years. She practiced
				dance under <strong>Smt. Geetha</strong> for 4 years and she also
				pursued her passion under <strong>Smt. SatyaHebbar</strong> for a
				year. Now she is currently a student of distinguished institution,
				Kala Sandesha Prasthishtana and is a senior disciple of Guru <strong>
					Sri. Sandesh Bhargav</strong> . Akshatha has successfully passed Junior,
				Senior and Pre-vidwath exams conducted by <strong> KSEEB</strong> .
				Blessed with natural flair for the art, and relentless single-minded
				devotion, she has developed her present status as an Artist. Endowed
				with a pleasing stage presence, she brings to her audience a
				refreshing presentation of Bharatanatyam, exhibited through her
				lively abhinaya.
			</p>
			<p>
				She had the pleasurable opportunity to perform in the dance
				festivals conducted by her dance institution- <strong>Kishora
					Bharatha-2008, Nrutyopasana-2013</strong> and <strong>2014</strong> . She
				was also a part of Dance presented in the esteemed <strong>
					Mysore Dasara festival 2014 and 2015</strong> from her institution. She is
				also performed in cultural events organized at CFTRI, Mysore.,Club
				of Mysore. Her abilities were recognized and she has been the
				recipient of numerous awards at both interschool and intercollegiate
				levels.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Dhanalakshmi_2.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Dhanalakshmi V</span>
			</h4>
			<p>
				Dhanalakshmi V is a protean young Bharatanatyam dancer from Mysore.
				She developed an interest in dance right from the childhood. Her
				father <strong>C Veerabhadrappa</strong> working in the Department
				of Police provided a way for her to start formal training in
				Bharatanatyam when he got transferred to <strong>T
					Narasipura</strong>. Her mother <strong>Kumari HL</strong> encouraged her to
				learn dance under the guidance of Guru <strong>Sri Sandesh
					Bhargav of Kala Sandesha Prathishtana</strong>.
			</p>
			<p>
				Vidwan Sri K Sandesh&apos;s immense training, structured and well
				planned dance activities and discipline helped her to exhibit good
				command over dance movements and abhinaya. She is also well versed
				with the theory of dance and its literature. She has performed in
				various prestigious festivals of <strong>Kala Sandesha
					Prathishtana</strong> and at <strong>Yellooru temple</strong> and many other
				festivals. She has completed all the examination conducted by <strong>KSEEB</strong>
				with flying colours and received her <strong>Vidwath degree
					in Bharathanatyam in the year 2014</strong>. Apart from Dance, she has also
				got <strong>Black belt in Karate</strong> and trained students for
				some years. She never let her studies to suffer because of
				extracurricular activities. Dhanalakshmi V is an Engineer graduate
				in Biotechnology. She received <strong>Gold medal</strong> for her
				outstanding educational performance in BE. At present, she is
				working as IT Analyst at Tata Consultancy Services- Bangalore.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Gunasheela.JPG" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Gunasheela</span>
			</h4>
			<p>
				At the forefront of new generation of Bharatanatyam dancers,
				Gunasheela represents the future of the ancient art form. At an early
				age of five, she had a keen interest and unquenchable passion for
				dance, which her parents <strong>Dr.S.K.Subbegowda and
					K.S.Nagarathna</strong> have encouraged and supported her throughout.
			</p>
			<p>
				She is a blessed disciple to have Bharatanatyam training under the
				guidance of Guru <strong>Vidwan.Sri.K.Sandesh Bhargav</strong>,in the
				field of Vasundhara style of Bharathanatyam. His teaching efforts and
				words of encouragement have truly moulded and sculpted her to the
				dancer she is today. Her undying love and dedication towards
				Bharatanatyam has made her captivate the traditional and aesthetic
				dance form. Gunasheela&apos;s immaculate, graceful movements and
				convincing Abhinaya have won the admiration of the connoisseurs of
				dance. The intensity of engrossment she pursues during her performance
				has made her art reachable to everyone.
			</p>
			<p>
				Gunasheela is highly talented and is multifaceted personality. Thus,
				she is learning <strong>Carnatic music and yoga</strong> as well. She
				has attended several workshops on tala, avanadha and music which
				supports dance. Her passion and commitment have earned her
				opportunities to perform programmes in State and National level. She
				has performed in the coveted festivals like <strong>Nrityotsava,
					Nrityopaasana, Chiguru sanje, cultural programmes</strong> organised during <strong>Mysore
					dasara</strong> and many programmes in school and college. She excels in
				academics too. She is pursuing <strong>B.D.S</strong> at A.J Institute
				of Dental Sciences,Mangalore. Along with her academics she has cleared
				all the examinations conducted by Karnataka Board and successfully
				passed <strong>vidwat</strong> examination in 2014 with flying
				colours. She is imparting Bharatanatyam to her students in Mysore.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>	
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Hari.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Hari krishnan</span>
			</h4>
			<p>
				Hari krishnan is a young Bharatanatyam Dancer sculpted by the famous
				Natyaguru <strong>Sri Sandesh Bhargav of Kala Sandesha
					Prathishtana</strong>, an institute which imparts the <strong>Vasundhara
					Bharatanatyam style</strong>.
			</p>
			<p>
				His father <strong>Sri Krishna Kumar</strong> and mother <strong>Smt.
					Shyla Kumari T</strong> are very proud of their gifted son. They hail from a
				traditional Kerala family. Hari is now in his teens. His physique and
				his cultural attitude is totally dedicated and directed towards the
				art of <strong>purusha natya</strong> : Male Dancing. His performance
				in <strong>Rangapravesha</strong> , which were hitherto a par office
				guru&apos;s choreographies, were avidly admired by the connoisseurs of
				Bharatanatyam. He has performed in prestigious and coveted festivals
				and has won many accolades. He has performed Bharatanatyam during <strong>Mysore
					Dasara festival in 2013, 2014 and 2015</strong>. He has also performed
				Bharatanatyam twice in the national level festival called <strong>&apos;Natarajothsava&apos;</strong>
				on april <strong>2014</strong> and on March <strong>2015</strong>. He
				has finished his Final-vidwat examination successfully by obtaining
				high first class and sharing his knowledge by doing dance classes in
				Kollegal and Talakadu for rural students.
			</p>
			<p>
				Hari is multi-talented. His artistic temperaments extend to music and
				yoga too. His knowledge in the <strong>Tala-Laya Prakriya</strong> is
				remarkable and astonishing. He has composed many intricate jatis in
				varied talas. Harikrishnan is brilliant in academics, he is a B.com
				student of Vidyodaya first grade collage and also doing <strong>Indain
					Cost And Mangement Accountant professional</strong> course .
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Harshini.JPG" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Harshini Purushotham</span>
			</h4>
			<p>
				Harshini Purushotham, daughter of the blessed couple <strong>Sri
					T Purushothama and Smt P Kalavathi</strong> is chiseled into a devoted
				danseuse by a perfectionist <strong>Vidwan Sri K Sandesh
					Bhargav of Kala Sandesha Prathishtana</strong>, in the field of <strong>Vasundhara
					Style of Bharatanatyam</strong>.
			</p>
			<p>
				Harshini, a child prodigy was fascinated towards Bharatanatyam at an
				early age of seven and was groomed under a renowned dancer Vidushi <strong>Rekha
					Raju</strong> for 4 years at Bangalore. Her dreams of becoming a performer
				took to wings with the blessings of her Guru and, ardent, unfailing
				support of her parents brought her into this cultural heritage of
				India, and the divinity of the art. Harshini has imbibed from her Guru
				that Bharatanatyam is a conversation between the body and soul and is
				the hidden language <strong>betwixt</strong> them. Her adoration for
				classical dance has enabled her to explore this art form in-depth and
				portray it in her impeccable style. Her ceaseless interest and
				devotion enthralls and bewitches the audience with her captivating
				grace and suppleness of body movements.
			</p>
			<p>
				She has matriculated from <strong>KSEEB</strong> Government of
				Karnataka with <strong>Vidwath grade</strong>. Her <strong>Rangavidhi
					Praveshika</strong> was held on the 7th of September, <strong>2014</strong> at
				Jaganmohana Palace Auditorium. She has given numerous stage
				performances in prestigious festivals like, <strong>Sringeri
					Lakshadeepotsava, Mysuru Dasara Festival, Samskruthi Sambhrama &
					Kannada Rajyotsava</strong> organized by Department of Kannada and Culture, <strong>Chiguru
					Sanje, Nruthyotsava, Natyanjali, Nruthyopasana, Ramanavami Utsava</strong>, on
				International Yoga Day at Puttarajagavayi Yoga and Dhyana Kendra, <strong>Navaratri
					Utsava</strong> at Chamundi hills etc. In addition to this, she has attended a
				workshop on Vasundhara Style of Bharatanatyam conducted by Vasundhara
				Performing Arts Centre and also has judged a State level Bharatanatyam
				competition organized by Shivam School of Dance, Mysuru. She found
				solace in teaching Bharatanatyam for 2 years at an <strong>orphanage</strong>,
				Chayadevi Charitable Trust, Mysuru.
			</p>
			<p>
				Harshini is an <strong>Environmental Engineering</strong> graduate
				from Sri Jayachamarajendra College of Engineering, Mysuru and has got
				selected by Tata Consultancy Services. She is tutoring numerous of her
				students, the art of Bharatanatyam with an unwavering commitment.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>
<div class="team-member">
	<div class="col-md-12"><img class="team-member-photo" src="webapp/images/teammembers/Pooja.JPG" alt="" />
		<div class="team-member-details">
			<h4><span class="team-member-name">Pooja Dev</span></h4>
			<p>
				Pooja is a charming young danseuse who was initiated and sculpted into the divine and aesthetic art 
				of Bharathanatyam by Natyaguru <strong>Sri K.Sandesh Bhargav</strong> of Kala Sandesha Prathisthana. 
				Pooja is the beloved daughter of <strong>Smt. Asha Dev</strong> and <strong>Sri P.S.Devadas 
				Pejathaya,</strong> who is an Internal Auditor in a reputed NGO-Outreach. Pooja's upbring by 
				her grandparents <strong>Smt V.S.Vijaya</strong> and <strong>Smt. P.S.Rajalakshmi</strong> has 
				culturally enriched her in a special way.
			</p>
			<p>
				Pooja has ably exhibited agility and grace and at the same time performs extremely vigorous and 
				complex choreography with ease and splendor. Her performances portray intense passion for dance 
				and a well matured attitude towards Bharathanatyam which has given her proficiency and elegant 
				perfection at this young age. Pooja Dev has secured brilliant results in Vidwat examination in 
				2013 conducted  by KSEEB, of Government of Karnataka. She has performed several times in 
				<strong>Nruthyothsava, Nruthyopasana</strong>, annual culture extravaganzas choreographed by Guru.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Rakshith.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Rakshith Ramdas R</span>
			</h4>
			<p>
				Presently working in Toyota kirloskar motor,Bangalore, Rakshith
				started learning Bharatanatyam at the age of 12, inspired by Vibrant
				performance from my Guru <strong>Sri.K Sandesh Bharghav</strong>.
				Later under his guidance he was able to successfully complete Junior
				and Senior examinations in 1st Class.Learning environment which was
				created around the students was like Gurukula, where fundamentals were
				made clear and strong. Under Guru&apos;s guidance he got selected for
				the <strong>Prathibha Puraskara</strong> representing Mysore district.
			</p>
			<p>
				His passion towards Classical music created interest to join and learn
				classical music where in he could able to complete my junior exam. He
				participated in the small tasks given to the students to do their own
				choreography. Later he continued his learning under the guidance of <strong>Ms.Uma
					Rao</strong> and completed Pre Vidwath exam . He got selected for performing
				in National channel <strong>Chandana TV</strong> and did several other
				performances too.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>		
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Shilpa.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Shilpa C</span>
			</h4>
			<p>
				Shilpa is a versatile young talent from T.Narasipura who is groomed to
				fineness by Guru Sri<strong> K.Sandesh Bhargav</strong> in Vasundara
				style of Bharatanatyam. She was immensely fascinated by the dimensions
				of Bharatanatyam as an interdisciplinary art right from her childhood.
				Her parents <strong>Sri Chikkaninga</strong> and <strong>Smt
					Jayamma</strong> have been her constant support ever since. Her intense
				dedication and devotion led her to discover the various substantial
				attributes of Dance. Guru Sri K.Sandesh bhargav of Kala Sandesha
				Prathishtana has chiseled and bestowed in her the intricacies of
				Nritta and Abhinaya, with a blend of which she takes her spectators to
				a whole new world of Rasa. Shilpa belives, <q><strong>Dance
						with your heart and your feet will follow</strong></q>to which Guru Sandesh has
				given a new dimension with his added values.
			</p>
			<p>
				Shilpa has performed in various coveted festivals such as, <strong>Mysuru
					Dasara</strong> festival, <strong>Tirupathi uthasava</strong>, Udupi and many
				more. She also stood <strong>first</strong> in a National
				Bharatanatyam competition in the year <strong>2010</strong>. Shilpa
				has completed all the examination conducted by KSEEB with flying
				colors and received her <strong>vidwath</strong> degree in
				Bharatanatyam in the year <strong>2013</strong>. She holds interest in
				Karnataka classical music too and has successfully completed her
				junior grade examination. Her meticulous advancements in the quality
				of dance her profoundly supported by her interest in Yoga.
			</p>
			<p>Shilpa is an Engineering graduate in Telecommunication. She is
				also a Gold medalist in the Post-graduation, ( M.Tech) for majoring in
				&#40;VLSI and Embedded system&#41;. At present, Shilpa is imparting
				Bharatanatyam to numerous.</p>
		</div>
		<div class="clearfix"></div>
	</div>					
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/shruti.jpg" />
		<div class="team-member-details">	
			<h4>
				<span class="team-member-name">Shruthi R</span>
			</h4>
			<p>
				Shruthi, daughter of <strong>Rangaswamy and Shivamma</strong>
				basically hailing from T. Narasipura, is a young dance prodigy in the
				field of Bharathanatyam. She was trained under the direct guidance of
				Guru Vidwan Sri <strong>K. Sandesh Bhargav</strong> of Kala Sandesha
				Prathishtana right from the age of ten. <strong>Nritta</strong> is the
				envy of her peer showing flare fluidity, tremendous precision and
				super strength.
			</p>
			<p>
				Looking into her keen interest towards the Bharatanatyam, her parents
				encouraged her to learn it and to dedicate herself towards the
				divinity of the art of dancing. Profoundly progressing in this fine
				art, she has graduated with flying colors in all the examinations
				conducted by the Karnataka Secondary Education Board, Government of
				Karnataka. She has also performed in coveted festivals like <strong>Chiguru
					Sanje, Nruthyothsava, Nruthyopasana</strong> and also a Dasara Program like <strong>Aharamela</strong>
				and many others. Presently she has completed her post-graduation from
				university of Mysore.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/sindhu.jpg" />
		<div class="team-member-details">	
			<h4>
				<span class="team-member-name">Sindhu G</span>
			</h4>
			<p>
				Sindhu, daughter of <strong>Late Sri M.Govindan</strong> and <strong>Smt Ambuja</strong>
				basically hailing from Kerala. She started training at the tender age of 5, was desciple of
				of Guru Vidwan <strong>Sri R.Kannan</strong> of Nandini Kalaniketana.
L				Later, Sindhu continued her Bharatanatyam dance pursuits under guidance of
				Guru Vidwan Sri <strong>K. Sandesh Bhargav</strong>.
				Sindhu has graduated from all the examinations conducted by Karnataka 
				Secondary Education Board, Government of Karnataka. Sindhu finished her
				Vidwath examination in year 2006.
			</p>
			<p>
				Her portrayal of abhinaya in her dance in her main forte.
				Sindhu has performed in many National festivals such as 
				<strong>Hampi Utsava, Alva's Nudisiri, Pallavotsava, Nruthyothsava,
				Nruthyopasana</strong>. She is very passionate towards the Indian Classical
				Music and this has encouraged her to do research and to explore the hidden 
				power of Bharatanatyam. Sindhu is a Bachelor of Arts graduate.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>


<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Vasundhara.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Vasundhara M T</span>
			</h4>
			<p>
				Vasundhara M T, is the daughter of <strong>Shri. M S
					Thippanna Jamadagni</strong> and <strong>Smt Aruna</strong>. Even at the early
				age of seven, Vasundhara showed a keen interest in Bharatanatyam. Her
				dancing talent was noticed by Vidwan K. Sandesh Bhargav, of Kala
				Sandesha Prathishtana and he taught her the Classical Art with free of
				cost. She has been schooled in the Pandanallur and Vasundhara style of
				Bharathanatyam.
			</p>
			<p>Vasundhara has imbibed from her guru that Bharatanatyam is a
				conversation between the body and soul and is the hidden language
				betwixt them. Her intense yearning and zeal for this celestial form of
				dance has helped her to reach perfection in this discipline. Her
				adoration for classical dance has enabled her to explore this art form
				in depth and portray it in her impeccable style. With the blessings of
				her gurus and by the unwavering support of her parents, Smt.
				Vasundhara has performed and toured extensively in Karnataka
				enthralling and captivating many audiences through the exhibition of
				devotion, grace, and suppleness of body movements.</p>
			<p>
				The important performances Vasundhara has given is <strong>Nruthyopaasana,
					Kishora Bharatha, Mysuru Dasara</strong> etc. Vasundhara has many talents and
				is a multifaceted personality. Thus, she is learning Carnatic music,
				under the able guidance of Raajappa, T Narasipura. She excels in
				academics too. She is presently pursuing her bachelor&apos;s degree in
				Vidyavardhaka College, Mysore. She matriculated from <strong>KSEEB</strong>,
				Government of Karnataka with <strong>Vidwath</strong> grade.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>

<div class="team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/teammembers/Vidhya.jpg" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Vidhya R</span>
			</h4>
			<p>
				Vidya was fascinated towards Bharathanatyam from her childhood and her
				dreams got way for its fulfilment when the shifted to T.Narasipura and
				her parents <strong>R.Ramu</strong> and <strong>G.Pushpa</strong>
				respected and supported her desire for joining dance classes.She was
				trained by Natyaguru Vidwan sri. <strong>K.sandesh Bhargav</strong>-
				Director of Kala sandesha Prathishtana which teaches Vasundhara style
				of dancing.
			</p>
			<p>
				Vidya has completed <strong>Vidwath</strong> exam conducted by
				Government of Karnataka in <strong>2006</strong>, she has also
				attended various workshops conducted by learning as well as from the
				other organization about Raga, thala and meditation.Vidya is also
				efficient in her academics too. She is a Bachelor of Science, pursued
				from Maharani&apos;s College, Mysore.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>			
</div>