<h2>Nruthyopasana-2013</h2>
<p>
	Conducted on <strong>February 23<sup>rd</sup> and 24<sup>th</sup> of 2013</strong>, 
	organized at Jagan Mohan Palace, Mysore.
</p>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2013/1.JPG" />
		<h3>
			<span class="team-member-name">Day 1, 23<sup>rd</sup> Feb 2013</span>
		</h3>
		<div class="team-member-details">
			<p>
				The festival was formally inaugurated by <strong>T.R. Harish</strong>, 
				Managing Trustee, Vasundhara Performing Arts Center, Mysore, accompanied 
				by Vidhushi <strong>Dr. Vasundhara Doraswamy</strong>, Millennium Artist 
				awarded by UNO, and Gayana Gandharva <strong>Dr.R.S. Nandha Kumar</strong>, 
				Vocalist, Music Composer, Mysorewhose address to the students was a great 
				inspiration for all of us.The formal function also witnessed the 
				<strong>felicitation</strong> program of a Music teacher Named Vidwan 
				<strong>Kiragasuru Rajappa</strong>, Senior Music Teacher, T. Narasipura, 
				who has contributed enough to the music field by teaching music in a 
				rural area like T. Narasipur. For more than Two decades.
			</p>
			<p>
				The first day program was performance by Vidwan <strong>Sri K. Sandesh 
				Bhargav</strong>, senior disciple of Karnataka Kala Tilaka Dr. Vasundhara 
				Doraswamy.He made his debut on stage proving his inherent gift as a fine 
				dancer. He brings to his dance a rare sense of devotion and dedication,which 
				leaves the audience with a sense of spiritual fulfillment. His strength 
				relieson his ability to co-relate the different disciplines of the art and 
				he has worked withvarious artists &ndash; composers, musicians, scholars.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<h3>
			<span class="team-member-name">Day 2, 24<sup>th</sup> Feb 2013</span>
		</h3>
		<div class="team-member-details">
			<p>
				The Second day was the stellar performance of <strong>young Artists</strong>. 
				The performers here represent the youthful artiste groups, hailing from 
				different backgrounds associated and organized for uphold of culture in 
				younger generations strongly motivated and dedicated towards traditional 
				Bharathanatyam art form.The performance brought the beauty of classical 
				Bharathanatyam.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>