<h2>Nruthyopasana-2014</h2>
<p>
	Held on <strong>10<sup>th</sup>, 11<sup>th</sup> and 12<sup>th</sup> 
	of May 2014</strong>, organized at JaganMohan Palace auditorium, Mysore.
</p>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2014/1.jpg" />
		<h3>
			<span class="team-member-name">Day 1, 10<sup>th</sup> May 2014</span>
		</h3>
		<div class="team-member-details">
			<p>
				Event included a Chief Guest of eminence Vidhushi <strong>Rama P</strong>., eminent Musician, 
				Bangalore; Vidhushi <strong>Suneetha Chandrakumar</strong>, renowned Musician Mysore; 
				<strong>Dr. Vasundhara Doraswamy</strong>, Bharathanatyam Danseuse Mysore; <strong>
				Dr. R.S. NandhaKumar</strong>, Renowned Musicologist, Mysore has consented to be present 
				on the occasion. The festival <strong>felicitated</strong> Vidhushi <strong>Meghala Hirasave</strong>, 
				by recognizing her wonderful work. She is a leading performing artist and teacher of Bharatanatyam 
				and Yoga (Ashtanga Vinyasa) in Melbourne, Australia. 
			</p>
			<p>
				The first day program was performance by Vid. Sri K. Sandesh Bhargav, senior disciple of Karnataka 
				Kala Tilaka Dr. Vasundhara Doraswamy. He made his debut on stage proving his inherent gift as a 
				fine dancer. The Culture evening went on with Bharathanatyam Marga performance.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2014/2.jpg" />
		<h3>
			<span class="team-member-name">Day 2, 11<sup>th</sup> May 2014</span>
		</h3>
		<div class="team-member-details">			
			<p>
				The Second day was the stellar performance of <strong>young talented Artists</strong>. 
				Presented a Dance Drama on <strong>Goddess Durga</strong>, This is composed and choreographed
				by Guru Sri K. Sandesh Bhargav and performed by nearly <strong>20 young Artists</strong>.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2014/3.jpg" />
		<h3>
			<span class="team-member-name">Day 3, 12<sup>th</sup> May 2014</span>
		</h3>
		<div class="team-member-details">	
			<p>
				Last is the Platform for <strong>Budding Artists</strong> (below 14 years). 
				They performed a Dance Drama i.e. <strong>&ldquo;Dhasha Kanaka&rdquo;</strong> 
				which is composed by <strong>Kanakadasa</strong>, the great revolutionary poet of Kannada. 
				Nearly Seventy Budding artists have shared the stage.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>		
<div class="row team-member">
	<div class="col-md-12">
		<div class="team-member-details">		
			<p>
				<strong>Dr. Manik Begeri</strong>, Art Critic Mysore has published her review in daily 
				newspaper &lsquo;<strong>Star of Mysore</strong>&rsquo; as below
			</p>
			<ul>
				<li>
					"Sandesh could bring out the special qualities of Krishna during his childhood 
					through the important incidents like the affection between mother Yashodha and Balakrishna, 
					killing of Putana and playing with his elder brother Balarama"
				</li>
				<li>
					"The presentation got beautified more by presenting <em>&lsquo;<strong>Bhandasur 
					Vadha&rsquo;</strong></em> in Sanchari Bhaava"
				</li>
				<li>
					"The last day was like an annual gathering of any dance school as more than 
					<strong>90 children</strong> between the age group 4 to 15 from all 5 centres 
					of Kala Sandesha Prathishtana participated"
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>