<div class="h2">Nruthyopasana-2016</div>
<p>
	<strong>[Organised under Grant-in-aid by Ministry 
	of Culture, Govt. of India]</strong>
</p>
<p>
	Held on <strong>24<sup>th</sup>, 25<sup>th</sup> and 
	26<sup>th</sup> of January 2016</strong>, organized at JaganMohan 
	Palace auditorium, Mysore.
</p>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2016/1.JPG" />
		<div class="h3">
			<span class="team-member-name">Day 1 - 24<sup>th</sup> January,2016</span>
		</div>
		<div class="team-member-details">
			<p>
				Event included a Chief Guest of eminence Prof <strong>Sri Kru. Ramachandra</strong>, 
				Renowned Gamaki&amp; Retired Executive Engineer, Mysore; <strong>Dr.VasundharaDoraswamy
				</strong>, Bharatanatyam Virtuoso,Mysore; <strong>Dr.R.S. NandaKumar</strong>, Renowned 
				Musicologist, Mysore; Vid. <strong>Sri R. Kannan</strong>, Renowned Bharatanatyam Guru, 
				Mysore has consented to be present on the occasion.
			</p>
			<p>
				The first day program was performance by Vidushi <strong>Smt Sindhu Niranjan</strong> 
				and Vidushi <strong>Kum Anaga M T</strong>senior Artists of Kala Sandesha Prathishtana. 
				They made his debut on stage proving his inherent gift as a fine dancer. The Culture 
				evening went on with <strong>Bharathanatyam Marga performance</strong>.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2016/2.JPG" />
		<div class="h3">
			<span class="team-member-name">Day 2 - 25<sup>th</sup> January,2016</span>
		</div>
		<div class="team-member-details">
			<p>
				The Second day is the Platform for <strong>Budding Artists (below 14 years)</strong>. 
				hey performed <strong>Bharathanatyam Marga</strong>. Nearly <strong>200</strong> 
				Budding artists from all 19 branches of Prathishtana have shared the stage.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Nruthyopasana-2016/3.JPG" />
		<div class="h3">
			<span class="team-member-name">Day 3 - 26<sup>th</sup> January,2016</span>
		</div>
		<div class="team-member-details">
			<p>
				Last was the stellar performance of <strong>young talented Artists</strong>. 
				Presented a Dance Drama on <strong>Goddess Durga</strong>, This is composed and 
				choreographed by Guru Sri K. Sandesh Bhargav and performed by nearly 20 young Artists.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>