<h2>Kalabhivardhana-2014</h2>
<p>
	<strong>[With Grant-in-aid from Dept. of Kannada &amp; Culture, Govt. of Karnataka]</strong>
</p>
<p>
	Conducted on <strong>5<sup>th</sup> and 6<sup>th</sup> of September 2014</strong>
	at Jaganmohan Palace auditorium Mysore.
</p>

<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Kalabhivardhana-2014/1.JPG" />
		<h4>
			<span class="team-member-name">Day 1, 5<sup>th</sup> Sept 2014: </span>
		</h4>
		<div class="team-member-details">
			<p>
				The festival was inaugurated by <strong>Dr. Sarvamangala Shankar</strong>, 
				Vice-chancellor of Karnataka State, Dr. Gangubai Hanagal Music and Performing 
				Arts University Mysore.We have taken the privilege of honouring National art 
				icon Karnataka Kala Tilaka, the Millennium dancer <strong>Dr. Vasundhara 
				Doraswamy</strong>. During which the title &lsquo;<strong>Natya 
				Kaloththunga</strong><em>&rsquo;</em> was conferred on Dr. Vasundhara Doraswamy, 
				honoured with a purse of Rs. 25,000/-. Followed by her Magnum 
				Bharathanayam Margam performance.
			</p>
			<p>
				Dr. Vasundhara Doraswamy is an A-Grade artist in Dooradarshan. She is the one 
				and only Bharathanatyam Danseuse invited from India to perform for &lsquo;World 
				peace&rsquo; in Paris under AEGIS of UNESCO in the presence of 2,500 
				representatives from 137 countries.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Kalabhivardhana-2014/2.JPG" />
		<div class="team-member-details">
			<h4>
				<span class="team-member-name">Day 2, 6<sup>th</sup> Sept 2014:</span>
			</h4>
			<p>
				On the second day of Kalabhivardhana we have taken the privilege of honouring 
				the living legend in the field of Music <strong>Dr. R.S. Nandakumar, </strong>
				during which the title &lsquo;<strong>Sangeetha Kaloththunga</strong><em>&rsquo;</em> 
				was conferred on Dr.R.S. Nandakumar, honoured with a purse of Rs. 25,000/-. 
				Followed by his Soothing concert of Karnataka Sangeetha.
			</p>
			<p>
				Dr. R.S. Nandakumar is a 4<sup>th</sup> generation Musician in the parampara of 
				St. Thyagaraja. He is unique in whole of India in resurrecting and reviving the 
				beautiful and ancient wealth of song heritage of more than a thousand years ago. 
				He has done work for UNESCO&rsquo;s intangible art-forms of Karnataka.
			</p>
			<p>
				Art Critic Dr.Manik Begeri Mentioned below points in her review published in the 
				daily magazine &ldquo;Star of Mysore&rdquo;</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<div class="team-member-details">
			<ul>
				<li>
					On the occasion the decennial celebrations of Kala Sandesha Pratishtana this year, 
					the Pratishtana has organized an awards function &lsquo;Kalabhivardhana-2014&rsquo;,
					Dr. Vasundhara took the viewers to the world of her creative passion and unbelievable 
					spontaneous choregraphy and her feelings in superb abhinaya.
				</li>
			</ul>
			<ul>
				<li>
					Nandakumar&rsquo;s expertise in managing scaly variations was stunning. Nandakumar was 
					able reach all the octaves easily which was evident from his singing. It was amazing to 
					hear the rare combinations presented by him.
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
