<div class="h2">Kalabhivardhana-2016</div>
<p>
	<strong>[With Grant-in-aid from Dept. of Kannada &amp; Culture, Govt. of Karnataka]</strong>
</p>
<p>
	Conducted on 14<sup>th, </sup>15<sup>th</sup> and 16<sup>th</sup> of October 2016 at Jaganmohan Palace auditorium Mysore.
</p>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Kalabhivardhana-2016/1.JPG" />
		<div class="h4">
			<span class="team-member-name">Day 1, 14<sup>th</sup> of October, 2016 </span>
		</div>
		<div class="team-member-details">
			<p><strong>Sangeetha Kalotthunga Award functioning and Music concert</strong></p>
			<p>This year Kala Sandesha Prathishtana has formed Award committee of SangeethaKalotthunga -2016.</p>
			<p>Sangeetha Kalotthunga-2016 award committee:</p>
			<table style="height: 207px; width: 551px;">
				<tbody>
					<tr>
						<td style="width: 248px;">
							<p> Vid. Dr. R.S.Nandakumar</p>
						</td>
						<td style="width: 188px;">
							<p> Renowned Vocalist</p>
						</td>
						<td style="width: 95px;">
							<p> President</p>
						</td>
					</tr>
					<tr>
						<td style="width: 248px;">
							<p> Vid. H.K.Narasimha Murthy</p>
						</td>
						<td style="width: 188px;">
							<p> Renowned Violinist</p>
						</td>
						<td style="width: 95px;">
							<p> Member</p>
						</td>
					</tr>
					<tr>
						<td style="width: 248px;">
							<p> Vidushi Smt.Rajalakshmi Sridhar</p>
						</td>
						<td style="width: 188px;">
							<p> Renowned Vocalist</p>
						</td>
						<td style="width: 95px;">
							<p> Member</p>
						</td>
					</tr>
					<tr>
						<td style="width: 248px;">
							<p> Vid. G.S. Ramanujam</p>
						</td>
						<td style="width: 188px;">
							<p> Renowned Mridangist</p>
						</td>
						<td style="width: 95px;">
							<p> Member</p>
						</td>
					</tr>
					<tr>
						<td style="width: 248px;">
							<p> Vid. R.K. Padmanabha</p>
						</td>
						<td style="width: 188px;">
							<p> Renowned Veena Artist</p>
						</td>
						<td style="width: 95px;">
							<p> Member</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p></p>
			<p>
				All the members of the committee complemented with the opinion and came to a 
				declaration that, <strong>Vid. Dr.Gowri Kuppuswamy,</strong> renowned vocalist.
			</p>
			<p>
				Kala Sandesha Prathishtana&reg; have taken theprivilege of conferring Award of title <strong>
				SangeethaKalottunga</strong> to Karnataka Kalashri<strong> Vid. Dr.Gowri Kuppuswamy</strong>, internationally 
				renowned renowned vocalist. The award consists of Rs. 25,000/- honorarium, citation, a silk shawl, 
				and garland.A concert of Vid. Dr.Gowri Kuppuswamy&rsquo;s senior disciple Vidushi Dr. Sukanya Prabhakar was  
				organised.
			</p>
			<p>
				The festival was inaugurated by <strong>Dr.Sarvamangala Shankar</strong>, Vice Chancellor of 
				Karnataka State Gangubai Hanagal Music and Performing Arts University.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Kalabhivardhana-2016/2.JPG" />
		<div class="h4">
			<span class="team-member-name">Day 2, 15<sup>th</sup> October 2016: </span>
		</div>
		<div class="team-member-details">
			<p>
				<strong>&ldquo;NatyaKalotthunga&rdquo; Award functioning and Bharathanatyam concert</strong>
			</p>
			<p>
				This year Kala Sandesha Prathishtana has formed Award committee of Natya Kalotthunga-2016.
			</p>
			<p>Natya Kalotthunga-2016 award committee:</p>
			<table style="width: 554px;">
				<tbody>
				<tr>
				<td style="width: 182px;">
				<p> Dr. Vasundhara Doraswamy</p>
				</td>
				<td style="width: 234px;">
				<p> Renowned Bharathanatyam exponent</p>
				</td>
				<td style="width: 120px;">
				<p> President</p>
				</td>
				</tr>
				<tr>
				<td style="width: 182px;">
				<p> Sri T.R. Harish</p>
				</td>
				<td style="width: 234px;">
				<p> Art Patron</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>
				<tr>
				<td style="width: 182px;">
				<p> Vid. Ramamurthy Rao</p>
				</td>
				<td style="width: 234px;">
				<p> Renowned Bharathanatyam dancer</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>
				<tr>
				<td style="width: 182px;">
				<p> Vidushi Smt Krupa Phadke</p>
				</td>
				<td style="width: 234px;">
				<p> Renowned Bharathanatyam dancer</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>
				<tr>
				<td style="width: 182px;">
				<p> Vidushi Dr.Tulasi Ramachandra</p>
				</td>
				<td style="width: 234px;">
				<p> Renowned Bharathanatyam dancer</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>
				<tr>
				<td style="width: 182px;">
				<p> Vidwan R Kannan</p>
				</td>
				<td style="width: 234px;">
				<p> Renowned Bharathanatyam dancer</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>				
				<tr>
				<td style="width: 182px;">
				<p> Smt. Savitha Ramesh</p>
				</td>
				<td style="width: 234px;">
				<p> Art Patron</p>
				</td>
				<td style="width: 120px;">
				<p> Member</p>
				</td>
				</tr>
				</tbody>
			</table>
			<p></p>
			<p>
				All the members of the committee complemented with the opinion and came to a 
				declaration that, NatyaRani Shantala Awardee<strong> Vidhushi Dr. Lalitha Srinivasan 
				, </strong>Revered Bharatanatyam Virtuoso &amp; Guru. Kala Sandesha Prathishtana&reg; 
				have taken the privilege of conferring Award of title <strong>Natya Kalottunga</strong> to 
				Shanthala Awardee <strong>Vidhushi Dr. Lalitha Srinivasan</strong> who is known for her 
				experimental work has contributed immensely to the field of Dance. 
				The award consists of Rs. 25,000/- honorarium, citation, a silk shawl, 
				and garland.A Bharathanatyam concert of Awardee Vid. Dr. Lalitha Srinivasan and Nupura&rsquo;s 
				senior disciples.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row team-member">
	<div class="col-md-12">
		<img class="team-member-photo" src="webapp/images/festivals/Kalabhivardhana-2016/3.JPG" />
		<div class="h4">
			<span class="team-member-name">Day 3, 16<sup>th</sup> October 2016: </span>
		</div>
		<div class="team-member-details">
			<p>
				On the third day of Kalabhivardhana, a theme based Solo Dance feature is performed 
				by Guru <strong>Sri K. Sandesh Bhargav</strong>.
			</p>
			<p>
				The dance feature &lsquo;<strong>Namaami Bhagavathpaadam</strong>&rsquo; is a attempt 
				to represent the principles of <strong>Sri Adi Shakara</strong> and his life experiences 
				is beautifully expressed through Bharathantyam.
			</p>
			<p>
				Considering the life of Sri Adi Shankara as an invaluable message and inspired by his 
				principles, <strong>Dr. Jyothi Shankar</strong> has penned the lyrics for the Nrithyaroopaka 
				and renowned vocalist <strong>Vid. Sri ShreeHarsha</strong> has composed the Music for the same. 
				<strong>Dr. Vasundhara Doraswamy</strong>, who introduced &lsquo;Vasundhara Style&rsquo; 
				of Bharathanatyam has finely choreographed this Solo Dance feature. Sri K. Sandesh Bhargav, 
				the founder of Kala Sandesha Prathishtana &reg; has presented this Dance feature on the event 
				of Kalabhivardhana-2016.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
