<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Bhaavaikya Bhaarati</h3>
	<p>
		<strong>Bhaavaikya bhaarati</strong> is the annual festival conducted by 
		<strong>Bharathadvaya foundation&reg;</strong> in the month of august every 
		year with the co-sponsership of <strong>Kala Sandesha Prathishtana&reg;</strong>. 
		India is a nation with greater heritage and highly versatile cultures. 
		Bhaavaikya bharati is a festival, which intends to promote and propogate 
		indian culture troughout the globe by organizing national integration programs 
		and facilitating talks and discussions about the rich cultural background of 
		India and therby strengthen the roots of indian culture by creating awareness 
		about it amongst the younger generations.
	</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2017"><a href="#/festival/bhaavaikya-bhaarati/2017">2017</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>