<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Geetharnava</h3>
	<p>
		<strong>Swarashraya Gana Sabha&reg;</strong> in collaboration with  <strong>Kala Sandesha Prathishtana&reg;</strong> 
		presents '<strong>Geetharnava</strong>', an annual music festival. 
		This festival has been crafted solely to promote Indian Classical Music- Vocal as one of the 
		objectives of the organisation. It aims at providing an unbiased platform for <br />both Karnataka 
		and Hindustani classical music. It is an attempt to portray and thus drive the mass towards class 
		through Indian music. Eminent virtuosi are offered a stage through Geetharnava for their music 
		concerts every year.
	</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2017"><a href="#/festival/geetharnava/2017">2017</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>
