<div class="image-wrapper">
	<img src="webapp/images/homepage/KPS_5833.JPG"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Kalabhivardhana</h3>
<h4>Felicitating art virtuasity</h4>
<p>The curtains for Kalabhivardhana were rolled apart for the very first time as a part of Decennial Celebrations of KSP, <strong>2014</strong>. Propagation of Art embedding its beauty and value by amplifying it to a wide frequency is the motto of this festival. Accomplished artists across India who have made noteworthy contribution to the field of art are honoured with the Award of title &lsquo;<strong>Kalotthunga</strong>&rsquo; during this fete.People who have made significant contribution in the field of Dance (any Indian Classical form) and Music (Indian Classical music inclusive of instruments) are given with the titles <strong>Natya Kalotthunga </strong>and <strong>Sangeetha Kalotthuga </strong>respectively, and a concert will be arranged for them.</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2015"><a href="#/festival/kalabhivardhana/2015">2015</a></li>
		<li data-year="2014"><a href="#/festival/kalabhivardhana/2014">2014</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>