<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/festivals">Festivals</a></li>
		<li class="active">Karavali Koushalam</li>
	</ol>
	<div class="festival">
		<div class="h3">Karavali Koushalam</div>
		<p>
			<strong>Karavali Koushalam</strong>&nbsp;is a platform created to
			nurture the coastal arts of India. Its main objective is to bring out
			the coastal talents which is losing its importance in today's era of
			modernization!. This cultural festival is organised by&nbsp;<strong>Karavali
				Kalanikethan&reg;</strong> in collaboration with <strong>Kala
				Sandesha Prathishtana&reg;</strong>
		</p>
	</div>

	<div class="submenu-years">
		<ul class="nav nav-tabs nav-justified">
			<li data-year="2017"><a
				href="#/festival/karavali-koushalam/2017">2017</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>
