<div class="image-wrapper">
	<img src="webapp/images/banner/kavya-samhitha.jpg"></img>
</div>
<div class="container-fluid main-content content-area">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/festivals">Festivals</a></li>
		<li class="active">Kavya Samhitha</li>
	</ol>
	<div class="festival">
		<div class="h3">Kavya Samhitha</div>
		<p>
			<strong>Kavya Samhitha</strong> is a cultural festival organised by <strong>Sankeerthana
				sabha</strong>&reg;in the month of June every year with the co-sponsership
			of <strong>Kala Sandesha Prathishtana</strong>&reg;. Kavya Samhitha
			will be a stage for cultural events of <strong>Gamakavachana</strong>,
			Bhakthi pantha like <strong>Haridasa sahithya, Vachana
				sahithya</strong>, literature of <strong>Kabirdas, Tulsidas </strong>and <strong>Meera</strong>.
			To promote the integration of Kannada literature with different art
			forms of India.
		</p>
	</div>

	<div class="submenu-years">
		<ul class="nav nav-tabs nav-justified">
			<li data-year="2017"><a href="#/festival/kavya-samhitha/2017">2017</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>