<div class="image-wrapper">
	<img src="webapp/images/homepage/1.JPG"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Krishora Bharatha</h3>
	<p>Kala Sandesha Prathishtana started a pioneering program venture to showcase the talent of the <strong>Rural based</strong> young children. This has been running since <strong>2008</strong> and is being resurrected in new form to accommodate extraordinary talent and huge numbers of students in rural bases of Karnataka. Its first performance which happened in Tirumakudalu (T.Narasipura) of Karnataka was a resounding success and was hailed as a path making effort by the Press and connoisseurs of Art.</p>

</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2016"><a href="#/festival/kishora-bharatha/2016">2016</a></li>
		<li data-year="2015"><a href="#/festival/kishora-bharatha/2015">2015</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>