<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Manthana</h3>
	<p>
		<strong>Vikasana charitable foundation&reg;</strong> in collaboration with 
		<strong>Kala Sandesha Prathishtana&reg;</strong> will conduct <strong>'Manthana'</strong> 
		to promote rural talents. Bhava Geetha, Bhakthi Geetha, Folk dance, Folk song, 
		Debate, Painting, group singing, Desha bhakthi geethe and other 
		culture based competitions will be organised for school children at rural schools. 
		Winners will showcase their talents on two-day festival <strong>'Manthana'.</strong>
	</p>
<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2017"><a href="#/festival/manthana/2017">2017</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>	