<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Nada Yana</h3>
	<p>Nadayana is a platform created by KSP for the Indian classical instrumental musicians to exhibit their deep musical appeal which has no lyrical or poetic exterior but a soothing melodic attraction. Traditional Indian instrumental classical music induces a sense of <strong>peace and universal brotherhood</strong>. It is a two days art festival where renowned <strong>Indian classical instrumental musicians</strong> perform in the event and promote and propagate Indian arts.</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2016"><a href="#/festival/naada-yaana/2016">2016</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>