<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<div class="h3">Natyaagama</div>
	<p>
		<strong>Natyaagama</strong> is a Indian classical dance ;festival organised by <strong>
		Ekatha nruthyalaya&reg; </strong>with the co-sponsership of<strong> Kala Sandesha Prathishtana&reg;.</strong> 
		This festivals's intention is to create platform to present the young talents of Classical 
		dance forms of India and preserve the divine beauty of these dance forms. 
		Organization aims to encourage yound artists by giving them opportunity to present 
		their passion in Indian classical dance forms.
	</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2017"><a href="#/festival/natyaagama/2017">2017</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>