<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/festivals">Festivals</a></li>
		<li class="active">Nruthyopasana</li>
	</ol>
	<div class="festival">
		<div class="h3">Nruthyopasana</div>
		<p>
			A dream of uniqueness, subject oriented performances, exploration of
			ancient, classics, a fine blend of dance, music, literature and other
			art forms conceptualized as three days festival, Nrutopasana. Since
			2012, Nrutyopasana is broadcasting a universal message visualizing
			bharathanatyam as an element encompassing the caveat-free art
			forms.Nrutyopasana is a formulation of classical fine art forms
			imbibing the most contemporary theories such as technology, applied
			science, management, engineering, leadership and imparting these to
			budding artists. The rhythmic expression of a thought is dance. And,
			the worship of this celestial form of dance is our <strong>Nruthyopasana.
			</strong>The sole motive behind this very cogitation was to render a platform
			braced to exhibit the calibre of every individual who gets trained in
			dancing. Nruthyopasana is one of the prestigious annual festivals of
			Kala Sandesha Prathishtana which extends up to three days.
		</p>
	</div>

	<div class="submenu-years">
		<ul class="nav nav-tabs nav-justified">
			<li data-year="2016"><a href="#/festival/nruthyopasana/2016">2016</a></li>
			<li data-year="2015"><a href="#/festival/nruthyopasana/2015">2015</a></li>
			<li data-year="2014"><a href="#/festival/nruthyopasana/2014">2014</a></li>
			<li data-year="2013"><a href="#/festival/nruthyopasana/2013">2013</a></li>
			<li data-year="2012"><a href="#/festival/nruthyopasana/2012">2012</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>