<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
<div class="festival">
	<h3>Rangaaraadhana</h3>
	<p>
	<strong>
		Chiranthana Ranga Peeta</strong> with the co-sponsership of <strong>Kala Sandesha 
		Prathishtana&reg;</strong> conducts the annual festival <strong>Rangaaraadhana</strong>.
		This festival is organised to platform for artists to build interest in and to promote Indian Theatre forms, 
		to create a wider perspective in the art of Theatre like Sanskrit drama, Modern 
		Indian drama and traditional Indian Theatre forms. Focus on working towards framing 
		a structured Theatre form by studying and implementing ancient scripts on it.
		Bhaavaikya bhaarati is the annual festival conducted by 
	</p>
</div>

<div class="submenu-years">
	<ul class="nav nav-tabs nav-justified">
		<li data-year="2017"><a href="#/festival/rangaaraadhana/2017">2017</a></li>
	</ul>
</div>
<div class="submenu-content-area"></div>
</div>