<div class="image-wrapper">
	<img src="webapp/images/homepage/1.jpg"></img>
</div>
<div class="container-fluid main-content">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/festivals">Festivals</a></li>
		<li class="active">Samskruthi Parva</li>
	</ol>
	<div class="festival">
		<div class="h3">Samskruthi Parva</div>
		<p>
			<strong>Samskruthi Parva</strong> is a festival organised by <strong>Abhyudaya
				Samskruthika Vihara&reg;</strong> in collaboration with <strong>Kala
				Sandesha Prathishtana&reg;</strong>, to integrate Intangible Cultural
			Heritage of India and to up hold the Indian traditions, mainly
			focusing towards both rural and urban population, especially the
			youth. Samskruthi Parva&rsquo;s aim is to create awareness and
			appreciation of Intangible Cultural Heritage, Traditional, Spiritual
			and Religious practices.
		</p>
	</div>

	<div class="submenu-years">
		<ul class="nav nav-tabs nav-justified">
			<li data-year="2017"><a href="#/festival/samskruthi-parva/2017">2017</a></li>
		</ul>
	</div>
	<div class="submenu-content-area"></div>
</div>
