<div class="row team-member">
	<div class="col-md-12">
		<h3>
			<span class="team-member-name">Geetharnava-2017</span>
		</h3>
		<p>
			The forthcoming Geetharnava will be on the <strong>11<sup>th </sup></strong>and<strong> 12<sup>th</sup> 
			</strong>of<strong> March, 2017</strong> at <strong>Ganabharath</strong>i <br />(Veene Sheshanna Bhavana), Mysuru.
		</p>
		<p>
			First day's inaugural concert will be Karnataka classical music by one of India's greatest assets, 
			Sangeetha Kalotthunga, <br /><strong>Dr. R S Nandakumar</strong>.
		</p>
		<p>
			Eminent artists, <strong>Vid. Sumana Vedant</strong> for Karnataka classical music and 
			<strong>Vid. Venkatesh Kulkarni</strong> for Hindustani classical music, <br />will be 
			the Day 2 of Geetharnava.
		</p>
	</div>
	<div class="clearfix"></div>
</div>				